<div class="dialog-content">
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
        <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="delete"></mat-icon>
        <p class="dialog-title" *ngIf="!data.modelCategoriaIva.Borrado">¿Está seguro que quiere eliminar la categoría IVA {{data.modelCategoriaIva.Descripcion}}?</p>
        <p class="dialog-title" *ngIf="data.modelCategoriaIva.Borrado">¿Está seguro que quiere recuperar la categoría IVA {{data.modelCategoriaIva.Descripcion}}?</p>
    </div>


    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
        <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data.modelCategoriaIva.Id">Confirmar</button>
    </div>
</div>