<div class="content">
  <!-- <app-loading-spinner></app-loading-spinner> -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Listado de ventas virtuales</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus" placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" style="margin: 12px auto;">
            <div fxLayoutGap="2vw"  fxFlexOffset="2" fxLayout="row" fxFill style="font-size: small; line-height: 38px !important;">
              <div fxLayoutAlign="start center" fxLayoutGap="2vw">
                <mat-form-field fxFill>
                  <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl"
                      [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                      <mat-option *ngFor="let c of filteredClientes | async" [value]="c" (onSelectionChange)="applyFilterAvanzados($event, 'cliente')">
                          {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-slide-toggle color="accent" #todos id="todos" name="todos" [checked]="todo" (click)="applyFilterAvanzados(todos, 'todos')">Todos los clientes
              </mat-slide-toggle>
              </div>
            </div>
            <div fxLayoutGap="2vw"  fxFlexOffset="2" fxLayout="row" fxFill style="font-size: small; line-height: 38px !important;">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="since" placeholder="Desde" name="desde" #desde="ngModel" (ngModelChange)="applyFilterAvanzados('', 'desde')" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="today" placeholder="Hasta" name="hasta" #hasta="ngModel" (ngModelChange)="applyFilterAvanzados('', 'hasta')" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-slide-toggle color="accent" #pendientes id="pendientes" name="pendientes" [checked]="pendientes" (click)="applyFilterAvanzados(pendientes, 'pendientes')">Mostrar solo entregas pendientes
              </mat-slide-toggle>
            </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <table mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="Optica">
      <th mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> ÓPTICA </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.IdComprobanteNavigation.IdClienteNavigation.Id}} - {{row.IdComprobanteNavigation.IdClienteNavigation.Optica}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> FECHA </th>
      <td mat-cell *matCellDef="let row"   fxFlex="10" fxLayoutAlign="start center">
        {{row.IdComprobanteNavigation.Fecha | date:"dd/MM/yyyy"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="NumeroComprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> NÚMERO  </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.IdComprobanteNavigation.Numero}}
      </td>
    </ng-container>

    <ng-container matColumnDef="TipoComprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> TIPO  </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.IdComprobanteNavigation.IdTipoComprobanteNavigation.Descripcion}} - {{row.IdComprobanteNavigation.Letra}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="20"> DESCRIPCIÓN </th>
      <td mat-cell *matCellDef="let row"  fxFlex="20" fxLayoutAlign="start center"> {{row.Descripcion}}
      </td>
    </ng-container>

    <ng-container matColumnDef="CantidadVendida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> VENDIDOS </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.CantidadVendida}}
      </td>
    </ng-container>

    <ng-container matColumnDef="CantidadEntregada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> ENTREGADOS </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center">
        {{row.CantidadEntregada}}
      </td>
    </ng-container>

    <ng-container matColumnDef="CantidadRestante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> RESTANTES </th>
      <td mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center">
        {{row.CantidadVendida - row.CantidadEntregada}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> OPCIONES </th>
      <td mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center">
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
        (click)="modificarCantidad(row, $event)">
        <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
      </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill (click)="verMovimientos(row.Id, row.IdComprobanteNavigation.IdClienteNavigation, row.Descripcion)"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>