<div class="content">
    <app-loading-spinner></app-loading-spinner>
    <form name="lenteForm" #lenteForm="ngForm" fxLayout="column" fxFlexFill>

        <!-- // HEADER // -->

        <div fxLayout="row" fxLayoutAlign="start center">
            <h4 class="titulo" fxFlex>Editar lente</h4>
        </div>

        <!-- /////////// -->

        <div fxLayout="row" fxLayoutGap="2vw">
            <mat-form-field fxFlex='30' fxLayout="column">
                <input matInput placeholder="Código" [(ngModel)]="modelLente.Id" name="codigo" #codigo="ngModel"
                    required disabled>
            </mat-form-field>

            <mat-form-field fxFlex='40' fxLayout="column">
                <input placeholder="Descripción" matInput [(ngModel)]="modelLente.Nombre" name="descripcion"
                    #descripcion="ngModel" required>
                <mat-error *ngIf="descripcion.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex='30' fxLayout="column">
                <input placeholder="Descripción factura" matInput [(ngModel)]="modelLente.DescripcionFactura"
                    name="descripcionFactura" #descripcionFactura="ngModel">
            </mat-form-field>
        </div>


        <div fxLayout="row" style="margin-top: 20px;" fxLayoutGap="2vw">
            <div fxLayout="row" fxFlex='40'>
                <label>Graduaciones cilíndricas</label>
                <mat-radio-group class="radio-group" [(ngModel)]="modelLente.GraduacionesCilindricas"
                    name="graduacionesCilindricas" #graduacionesCilindricas="ngModel" fxLayout="row">
                    <mat-radio-button style="margin-left: 10px;" value="+">Positivas</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;" value="-">Negativas</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-checkbox fxFlex='17' class="radio-group" [(ngModel)]="modelLente.EsBifocal" name="esBifocal"
                #esBifocal="ngModel">Es bifocal
            </mat-checkbox>

            <mat-checkbox fxFlex='17' class="radio-group" [(ngModel)]="modelLente.ControlaStock" name="controlaStock"
                #controlaStock="ngModel">Controla stock
           </mat-checkbox>

            <mat-checkbox fxFlex='17' class="radio-group" [(ngModel)]="modelLente.MediosPares" name="mediosPares"
                #mediosPares="ngModel">Medios pares
            </mat-checkbox>
            
        </div>

        <div fxLayout="row" style="margin-top: 20px;" fxLayoutGap="2vw">
            <mat-form-field fxFlex='30'>
                <mat-select placeholder="Combinación" [(ngModel)]="modelLente.Combinacion" id='combinacion'
                    name="combinacion" #combinacion="ngModel" required>
                    <mat-option value="+ +  / - +">+ +  / - +</mat-option>
                    <mat-option value="+ -  / - -">+ -  / - -</mat-option>
                </mat-select>
                <mat-error *ngIf="combinacion.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>

           <mat-form-field fxFlex='35'>
            <input matInput placeholder="Ingresos brutos" [(ngModel)]="modelLente.IngresosBrutos"
                name="ingresosBrutos" #ingresosBrutos="ngModel" >
        </mat-form-field>
        </div>


        <!-- //////////////// -->

        <div fxLayout="row" fxFlexOffset="4" fxFill>
            <div fxLayout="column">
                <p>Precios
                    <button mat-icon-button color="primary" matTooltip="Agregar precio" (click)="agregarPrecio()">
                        <mat-icon>add</mat-icon>
                    </button>
                </p>
                <div fxLayout="row" fxLayoutGap="2vw" fxFlex='20' fxFlexOffset="4" fxLayoutAlign="space-evenly center" *ngFor="let p of modelPrecio; let i = index">
                    <mat-form-field>
                        <input type="text" placeholder="Esférico" matInput #inputEsferico="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Esferico" id="esferico{{i}}" name="esferico{{i}}" required>
                        <mat-error *ngIf="inputEsferico.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Cilíndrico" matInput #inputCilindrico="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Cilindrico" id="cilindrico{{i}}" name="cilindrico{{i}}" required>
                        <mat-error *ngIf="inputCilindrico.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Precio" matInput #inputPrecio="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Precio" id="precio{{i}}" name="precio{{i}}" required>
                        <mat-error *ngIf="inputPrecio.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="eliminarPrecio(i)"
                        [disabled]="modelPrecio.length < 1">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <mat-divider fxFlexOffset="4"></mat-divider>

        <div fxLayout="row" fxFlexOffset="4" fxFill>
            <div fxLayout="column">
                <p>Recargos
                    <button mat-icon-button color="primary" matTooltip="Agregar recargo" (click)="agregarRecargo()">
                        <mat-icon>add</mat-icon>
                    </button>
                </p>
                <div fxLayout="row" fxLayoutGap="2vw" fxFlexOffset="4" fxLayoutAlign="space-evenly center" *ngFor="let r of modelRecargo; let i = index">
                    <mat-form-field>
                        <input type="text" placeholder="Descripción" matInput #inputDescripcion="ngModel"
                            [(ngModel)]="r.Descripcion" id="descripcion{{i}}" name="descripcion{{i}}" required>
                            <mat-error *ngIf="inputDescripcion.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Porcentaje" matInput #inputPorcentaje="ngModel"
                            [(ngModel)]="r.Porcentaje" id="porcentaje{{i}}" name="porcentaje{{i}}" required>
                        <mat-error *ngIf="inputPorcentaje.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="eliminarPorcentaje(i)"
                        [disabled]="modelRecargo.length < 1">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between end" fxFlexOffset="8">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!lenteForm.form.valid"
                (click)="editarLente()">Guardar</button>
        </div>
    </form>
</div>