
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DisplaFrontend-primary: mat-palette($mat-indigo);
$DisplaFrontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DisplaFrontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$DisplaFrontend-theme: mat-light-theme((
  color: (
    primary: $DisplaFrontend-primary,
    accent: $DisplaFrontend-accent,
    warn: $DisplaFrontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DisplaFrontend-theme);

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
);


@include mat-core($custom-typography);

// $my-app-primary: mat-palette($mat-light-blue);

// $my-app-accent:  mat-palette($mat-blue-gray);

// $my-app-warn:    mat-palette($mat-deep-orange);

// $my-app-theme:   mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include angular-material-theme($my-app-theme);


$custom: (
    50: #af4448,
    55: #af4448,
    100: #dde6f3,//no sabemos por qué no se puede borrar
    500: #5282c1,//idem anterior
    contrast: (
        50: $white-87-opacity,
        55: $white-87-opacity,
    ));



/*$my-app-primary: mat-palette($mat-blue-grey);*/
$my-app-primary: mat-palette($custom,50);

$my-app-accent:  mat-palette($custom,55);

$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme:   mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);