<form #modalForm="ngForm">
  <div class="dialog-content" fxLayout="column" fxLayoutGap="15px">
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
      <p class="dialog-title">Búsqueda de un ítem facturado</p>
    </div>

    <div fxLayoutGap="2vw" fxLayout="row">
      <mat-form-field fxFlex="22">
        <input matInput [matDatepicker]="picker" [(ngModel)]="since" placeholder="Desde" name="desde" #desde="ngModel"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="22">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="today" placeholder="Hasta" name="hasta" #hasta="ngModel"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-button-toggle-group name="items" >
        <mat-button-toggle [value]="true" id="lentes" (click)="traerLentes()">
          Lentes
        </mat-button-toggle>
        <mat-button-toggle [value]="false" id="articulos" (click)="traerArticulos()">
          Artículos
        </mat-button-toggle>
        <mat-button-toggle [value]="false" id="libres" (click)="mostrarLibre()">
          Libres
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="mostrarLentes">
      <div mat-dialog-content fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50">
          <input type="text" placeholder="Lente" aria-label="Lente" matInput
            [formControl]="lentesControl" [matAutocomplete]="auto" name="lente" id="lente"
            (blur)="setIdLente(this.lentesControl);">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLente">
            <mat-option *ngFor="let l of filteredLentes | async" [value]="l">
              {{ l.Id }} - {{l.Nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input type="text" placeholder="Texto en factura" aria-label="Texto en factura" [(ngModel)]="libre" matInput disabled id="texto" name="texto">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxFill fxLayoutGap="10px">
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input type="text" placeholder="Medida esférico" matInput autocomplete="off" [(ngModel)]="stockLente.MedidaEsferico"
              id="esferi" name="esferi" #esferi="ngModel" required (keypress)="_keyPress($event)" 
              (blur)="compararLimiteGrilla($event.target.value, 'esferico'); this.validacionLenteService.divisionMedida(stockLente, stockLente.MedidaEsferico, 'esferico'); convertirMedidas()">
            <mat-error *ngIf="esferi.invalid">Campo obligatorio.</mat-error>
          </mat-form-field>
          <p class="msjError" *ngIf="msjLimiteEsferico">
          La medida no se encuentra dentro de los límites.</p>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input type="text" placeholder="Medida cilíndrico" matInput autocomplete="off" [(ngModel)]="stockLente.MedidaCilindrico" 
              id="cilin" name="cilin" #cilin="ngModel" (keypress)="_keyPress($event)" required 
              (blur)="cambiarSigno(); compararLimiteGrilla($event.target.value, 'cilindrico'); convertirMedidas()">
            <mat-error *ngIf="cilin.invalid">Campo obligatorio.</mat-error>
          </mat-form-field>
          <p class="msjError" *ngIf="msjLimiteCilindrico">
            La medida no se encuentra dentro de los límites.
        </p>
        </div>
      </div>
    </div>

    <div mat-dialog-content fxLayout="row" fxLayoutGap="15px" *ngIf="mostrarArticulos">
      <mat-form-field fxFlex>
        <input type="text" placeholder="Tipo artículo" aria-label="Tipo artículo" matInput
          [formControl]="tipoArticulosControl" [matAutocomplete]="auto" name="tipo"
          (blur)="setIdTipoArticulo(this.tipoArticulosControl)" [(ngModel)]="modelTipoArticulo.Nombre" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTipoArticulo" required>
          <mat-option *ngFor="let t of filteredTipoArticulos | async" [value]="t"
            (onSelectionChange)="tipoArticuloChange($event)">
            {{t.Id}} - {{ t.Nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="tipoArticulosControl.hasError('required')">Campo obligatorio.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input type="text" placeholder="Artículo" aria-label="Artículo" matInput [formControl]="articulosControl"
          [matAutocomplete]="auto2" name="arti" (blur)="setIdArticulo(this.articulosControl)"
          [(ngModel)]="modelArticulo.Nombre" required>
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayArticulo" required>
          <mat-option *ngFor="let a of filteredArticulos | async" [value]="a">
            {{a.Id}} - {{ a.Nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="articulosControl.hasError('required')">Campo obligatorio.</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-content fxLayout="row" fxLayoutGap="15px" *ngIf="mostrarLibres">
      <mat-form-field fxFill>
        <input matInput placeholder="Descripcion" id="descripcion" name="descripcion" [(ngModel)]="libre"
          #descripcion="ngModel" required>
        <mat-error *ngIf="descripcion.hasError('required')">Campo obligatorio.</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
      <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="buscar()" [disabled]="msjLimiteEsferico || msjLimiteCilindrico">Buscar</button>
    </div>
  </div>
</form>