.dialog-content {
    padding: 15px 25px 30px 25px;
}

.dialog-title {
    font-family: "Chalet London" !important;
    font-size: 18px;
}

.dialog-botones {
    margin-top: 20px !important;
}

.texto-explicativo{
  font-family: "Chalet London" !important;
  color: gray;
}

.mat-dialog-content {
    height: 65px;
}

.radio-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.msjError {
    color: #ff5722;
    font-size: 75%;
    /* margin-top: 8px; */
}

.link:link {
    color: black;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    text-decoration:none;
  }
  
  .link:visited {
    color: black;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    text-decoration: none;
  }
  
  .link:hover {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: black;
  }

  .link:active {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: black;
  }