<div fxLayout="column">
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
        <mat-icon color="primary" style="font-size:30px" svgIcon="movimiento_venta"></mat-icon>
        <p class="dialog-title">Movimientos {{data.producto}}</p>  
    </div>
    <div fxLayout="row">
        <h5> {{data.cliente.Id}} - {{data.cliente.Optica}}</h5>
    </div>

    <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> FECHA </mat-header-cell>
          <mat-cell *matCellDef="let row"   fxFlex fxLayoutAlign="start center">
            {{(row.IdComprobanteClienteNavigation != null ? row.IdComprobanteClienteNavigation.Fecha : row.IdVentaVirtualNavigation.IdComprobanteNavigation.Fecha) | date:"dd/MM/yyyy"}}
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="NumeroComprobante">
          <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> NÚMERO  </mat-header-cell>
          <mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center"> {{row.IdComprobanteClienteNavigation != null ? row.IdComprobanteClienteNavigation.Numero : row.IdVentaVirtualNavigation.IdComprobanteNavigation.Numero }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TipoComprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> TIPO  </mat-header-cell>
            <mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center">
             {{(row.IdComprobanteClienteNavigation != null ? row.IdComprobanteClienteNavigation.IdTipoComprobanteNavigation.Descripcion : row.IdVentaVirtualNavigation.IdComprobanteNavigation.IdTipoComprobanteNavigation.Descripcion)}} - {{row.IdComprobanteClienteNavigation != null ? row.IdComprobanteClienteNavigation.Letra : row.IdVentaVirtualNavigation.IdComprobanteNavigation.Letra}} 
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Usuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> USUARIO  </mat-header-cell>
          <mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center"> {{row.IdUsuarioNavigation.Nombre}}, {{row.IdUsuarioNavigation.Apellido}} 
          </mat-cell>
        </ng-container>
   
        <ng-container matColumnDef="Cantidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> CANTIDAD </mat-header-cell>
          <mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center"> {{row.Cantidad}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Entrega">
            <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex> ENTREGA </mat-header-cell>
            <mat-cell *matCellDef="let row"  fxFlex fxLayoutAlign="start center"> {{row.Entrega == true ? 'Si' : 'No'}}
            </mat-cell>
          </ng-container>
    
    
        <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill (click)="abrirComprobante(row.IdComprobanteCliente != undefined ? row.IdComprobanteCliente : row.IdVentaVirtualNavigation.IdComprobante)"></mat-row>
      </mat-table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
        <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="">Guardar</button>
    </div>
</div>