<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Blocks</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
      <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarBlock()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <p>Agregar</p>
    </div>
    
    <a mat-button *ngIf="traerVigentes" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar todos</a>
    <a mat-button *ngIf="!traerVigentes" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar vigentes</a>
  </div>

  <mat-divider></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40"> NOMBRE </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="40" fxLayoutAlign="start center"> {{row.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="StockMinimo">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> STOCK MINIMO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.StockMinimo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="StockActual">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> STOCK ACTUAL </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.StockActual}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Precio">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> PRECIO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.PrecioCosto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TipoBlock">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> TIPO DE BLOCK </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.IdTipoBlockNavigation.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Borrado">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> BORRADO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Borrado == true ? 'Si' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="end">
        <button mat-icon-button matTooltip="Movimientos" [matTooltipPosition]="'above'" aria-label="Movimientos"
          (click)="getMovimientosBlock(row.Id)">
          <mat-icon svgIcon="movimiento" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
          (click)="modificarBlock(row)">
          <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarBlock(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>