.dialog-content {
    padding: 15px 25px 30px 25px;
}

.dialog-title {
    font-family: "Chalet London" !important;
    font-size: 18px;
}

.dialog-botones {
    margin-top: 20px !important;
}

.mat-dialog-content {
    height: 80px;
}

.agregar-graduacion{
    padding-bottom: 16px;
}

.mat-button-toggle-group {
    margin-top: 10px;
    height: 32px;
    align-items: center;
    font-size: small;
}