<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon>
            <p class="dialog-title">Alta recibo</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl"
                    [matAutocomplete]="auto1" name="cliente" (blur)="setIdCliente(this.clientesControl)"
                    [(ngModel)]="modelRecibo.IdClienteNavigation" required>
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayCliente">
                    <mat-option *ngFor="let c of filteredClientes | async" [value]="c">
                        {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="clientesControl.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <textarea matInput id="obs" placeholder="Observaciones" id="observaciones"
                    [(ngModel)]="modelRecibo.Observaciones" name="obs" #obs cols="2" rows="1"></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayoutGap="2vw" fxLayout="row">
            <mat-form-field fxFlex="30">
                <input matInput placeholder="Monto efectivo" [(ngModel)]="modelRecibo.MontoEfectivo" name="montoE"
                    #montoE="ngModel" required>
                <mat-error *ngIf="montoE.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <input matInput placeholder="Monto cheque" [(ngModel)]="modelRecibo.MontoCheque" name="montoC"
                    #montoC="ngModel" required>
                <mat-error *ngIf="montoC.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <button mat-button style="height: 40px;" (click)="verCheques()">Alta cheques</button>
        </div>

        <div mat-dialog-content fxLayoutGap="2vw" fxLayout="row">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Número interdeposito" [(ngModel)]="modelRecibo.NroInterdeposito"
                    name="numero" #numero="ngModel" required>
                <mat-error *ngIf="numero.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Monto interdeposito" [(ngModel)]="modelRecibo.MontoInterdeposito"
                    name="montoInter" #montoInter="ngModel" required>
                <mat-error *ngIf="montoInter.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayoutGap="2vw" fxLayout="row">
            <mat-form-field fxFlex="50">
                <input type="text" placeholder="Cuenta bancaria" aria-label="Cuenta bancaria" matInput
                    [formControl]="cuentasControl" [matAutocomplete]="auto"
                    [(ngModel)]="modelRecibo.IdCuentaBancariaNavigation" name="cuenta"
                    (blur)="setIdCuentaBancaria(this.cuentasControl)" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCuentas">
                    <mat-option *ngFor="let cue of filteredCuentas | async" [value]="cue"
                        (onSelectionChange)="bancoCuenta($event)">
                        {{ cue.Numero }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="cuentasControl.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Banco" [(ngModel)]="banco" name="banco" disabled>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayoutAlign="end center" fxLayout="row">
            <mat-form-field fxFlex="30">
                <input matInput placeholder="Monto total" value={{modelRecibo.MontoInterdeposito+modelRecibo.MontoCheque+modelRecibo.MontoEfectivo}} name="montoT"
                    #montoT disabled>
            </mat-form-field>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid"
                [mat-dialog-close]="modelRecibo" cdkFocusInitial>Agregar</button>
        </div>
    </div>

</form>