<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Búsqueda de cajas</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div mat-dialog-content fxLayout="row" fxFill fxLayoutGap="2vw">
          <mat-form-field fxFlex="50">
            <mat-select placeholder="Ubicacion" name="ubicacion" id="ubicacion" #ubicacion>
              <mat-option *ngFor="let u of ubicaciones" [value]="u.Id">
                {{ u.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <mat-select placeholder="Tipo de Block" id="tipo" name="tipo" #tipo>
              <mat-option *ngFor="let tb of tiposBlock" [value]="tb.Id">
                {{ tb.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div mat-dialog-content fxLayout="row" fxFill fxLayoutGap="2vw">
          <div fxLayout="column" fxFlex="50">
            <label style="font-weight: bold; font-size: smaller;">Número caja grande</label>
            <div mat-dialog-content fxLayout="row" fxLayoutGap="2vw">
              <mat-form-field fxFlex="50">
                <input matInput placeholder="Desde" id="desdeGrande" name="desdeGrande" #desdeGrande
                  (keypress)="_keyPress($event)">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <input matInput placeholder="Hasta" id="hastaGrande" name="hastaGrande" #hastaGrande
                  (keypress)="_keyPress($event)">
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxFlex="50">
            <label style="font-weight: bold; font-size: smaller;">Número caja chica</label>
            <div mat-dialog-content fxLayout="row" fxLayoutGap="2vw">
              <mat-form-field fxFlex="50">
                <input matInput placeholder="Desde" id="desdeChica" name="desdeChica" #desdeChica
                  (keypress)="_keyPress($event)">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <input matInput placeholder="Hasta" id="hastaChica" name="hastaChica" #hastaChica
                  (keypress)="_keyPress($event)">
              </mat-form-field>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40"> NOMBRE </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="40" fxLayoutAlign="start center"> {{row.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Base/ADD">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> BASE/ADD </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center"> {{row.StockMinimo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="NumeroCajaGrande">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> CAJA GRANDE </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center"> {{row.StockMinimo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="NumeroCajaChica">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> CAJA CHICA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center"> {{row.StockActual}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> CANTIDAD </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center"> {{row.StockActual}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center"> {{row.PrecioCosto}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>