<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="font-size:30px" svgIcon="selection"></mat-icon>
            <p class="dialog-title">Seleccionar lente</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Lente" aria-label="Lente" matInput [formControl]="lentesControl"
                    [matAutocomplete]="auto" name="lente" (blur)="setIdLente(this.lentesControl,
                this.data)" (keyup.enter)="setIdLente(this.lentesControl, this.data);onEnter();">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLente">
                    <mat-option *ngFor="let l of filteredLentes | async" [value]="l">
                        {{ l.Id }} - {{l.Nombre}} - Combinación: {{ l.Combinacion }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid"
                [mat-dialog-close]="data">Seleccionar</button>
        </div>
    </div>



</form>