<div class="content">
  <!-- <app-loading-spinner></app-loading-spinner> -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Cuenta por cliente</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus" placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" style="margin: 12px auto;">
            <div fxLayoutGap="2vw"  fxFlexOffset="2" fxLayout="row" fxFill style="font-size: small; line-height: 38px !important;">
              <div fxLayoutAlign="start center" fxLayoutGap="2vw">
                <mat-form-field fxFill>
                  <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl"
                  [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                      <mat-option *ngFor="let c of filteredClientes | async" [value]="c" (onSelectionChange)="traerCuentaCliente(c)">
                          {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field> 
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="since" placeholder="Desde" name="desde" #desde="ngModel" (ngModelChange)="traerCuentaCliente('desde')" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              </div>
            </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row"   fxFlex="10" fxLayoutAlign="start center">
        {{row.Fecha | date:"dd/MM/yyyy"}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Comprobante">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="45"> DATOS DEL COMPROBANTE  </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="45" fxLayoutAlign="start center"> {{row.Numero}} - {{row.IdTipoComprobanteNavigation.Descripcion}} - {{row.Letra}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Debe">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="15"> DEBE  </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="15" fxLayoutAlign="start center">  {{ row.IdTipoComprobante == 1 || row.IdTipoComprobante == 3 ? row.MontoTotal  : '  '}} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Haber">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="15"> HABER </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="15" fxLayoutAlign="start center">  {{ row.IdTipoComprobante == 2 ? row.MontoTotal  : '  '}} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Saldo">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="15"> SALDO </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="15" fxLayoutAlign="start center">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill (click)="verComprobante(row.Id, row.IdTipoComprobante)"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  <div fxLayoutAlign="start space-between">
    <button mat-raised-button (click)="exportar()">Exportar</button>
  </div>
</div>