<div class="dialog-content" fxLayout="column"> 
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
        <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="block"></mat-icon>
        <p class="dialog-title" >¿Está seguro que quiere anular el comprobante?</p>
    </div>
    
    <div mat-dialog-actions fxLayout="row">
        <mat-form-field fxFill>
            <input type="text" placeholder="Motivo de anulación" matInput name="motivo" 
                required [(ngModel)]="data.model.MotivoAnulado" #motivo="ngModel">
        </mat-form-field>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
        <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onYesClick()">Confirmar</button>
    </div>
</div>