<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <p class="dialog-title">Venta virtual</p>
        </div>
        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Lente" aria-label="Lente" matInput [formControl]="lentesControl"
                    [matAutocomplete]="auto" name="lente" id="lente" (blur)="setIdLente(this.lentesControl);"
                    (keyup.enter)="tabInventado($event, 'monto')">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLente">
                    <mat-option *ngFor="let l of filteredLentes | async" [value]="l">
                        {{ l.Id }} - {{l.Nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>


        <div mat-dialog-content fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Precio unitario" [(ngModel)]="modelVentaVirtual.Monto" id="monto"
                    name="monto" (keyup.enter)="tabInventado($event, 'cantidad')" #monto="ngModel"
                    pattern="^\d*(\.\d{0,2})?$" (keypress)="_keyPress($event)" required>
                <mat-error *ngIf="monto.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <input matInput placeholder="Cantidad" id="cantidad" (keyup.enter)="tabInventado($event, 'seleccionar')"
                    #cantidad="ngModel" (keypress)="_keyPress($event)" [(ngModel)]="modelVentaVirtual.CantidadVendida"
                    name="cantidad" required>
                <mat-error *ngIf="cantidad.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>

        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" id="seleccionar"
                [mat-dialog-close]="modelVentaVirtual">Seleccionar</button>
        </div>
    </div>
</form>