<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Listado de cuentas de clientes</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus"
        placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" style="margin: 12px auto;">
          <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-evenly start">
            <div fxLayoutGap="10px" fxLayoutAlign="start center" fxLayout="row" cdkDropList
              cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
              <div *ngFor="let cd of displayedColumns">
                <mat-checkbox *ngIf="cd.def != 'Opciones'" [formControlName]="cd.def" cdkDrag>{{cd.def}}</mat-checkbox>
              </div>
            </div>
            <div fxLayoutGap="2vw" fxFlexOffset="2" fxLayout="row"
              style="font-size: small; line-height: 38px !important;">
              <mat-button-toggle-group name="clientes">
                <mat-button-toggle [value]="true" id="bloqueados" (click)="traerBloqueados()">
                  Bloqueados
                </mat-button-toggle>
                <mat-button-toggle [value]="false" id="nobloqueados" (click)="traerDesbloqueados()">
                  No bloqueados
                </mat-button-toggle>
              </mat-button-toggle-group>
              <div fxLayoutAlign="start center">
                <mat-slide-toggle color="accent" #manuales="ngModel" id="manuales" name="manuales" [(ngModel)]="manual" [ngModelOptions]="{standalone: true}"
                  (click)="traerManuales(manuales)">Bloqueados manuales
                </mat-slide-toggle>
              </div>
              <div fxLayoutAlign="start center">
                <mat-slide-toggle color="accent" #todos="ngModel" id="todos" name="todos" [(ngModel)]="todo" [ngModelOptions]="{standalone: true}"
                  (click)="traerTodos(todos)">Todos los clientes
                </mat-slide-toggle>
              </div>
            </div>
            <div fxLayoutGap="2vw" fxFlexOffset="2" fxLayout="row" fxFill>
              <mat-form-field fxFlex='50'>
                <input matInput placeholder="Diferencia crédito/debe" type="number"
                  (blur)="applyFilterAvanzados($event.target.value, 'diferencia')">
              </mat-form-field>
              <mat-form-field fxFlex='30'>
                <input matInput placeholder="Días" type="number"
                  (blur)="applyFilterAvanzados($event.target.value, 'dias')">
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <table mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla" [hidden]="dataSource.data.length === 0">
    <ng-container matColumnDef="Optica">
      <th mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> ÓPTICA </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.Id}} - {{row.Optica}} </td>
    </ng-container>

    <ng-container matColumnDef="Saldo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> SALDO </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Saldo}} </td>
    </ng-container>

    <ng-container matColumnDef="Monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> MONTO EXC </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.MontoExcedido}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Credito">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> CRÉDITO </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Credito}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Dias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> D. EXC </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.DiasExcedido}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Plazo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> PLAZO </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Plazo}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> FECHA </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center">
        {{row.Fecha | date:"dd/MM/yyyy"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Motivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="22"> MOTIVO </th>
      <td mat-cell *matCellDef="let row" fxFlex="22" fxLayoutAlign="start center">
        {{row.Motivo}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"> ESTADO </th>
      <td mat-cell *matCellDef="let row" fxFlex="12" fxLayoutAlign="start center">
        {{(!row.Bloqueado) ? 'No bloqueado' : ((row.BloqueoManual) ? 'Bloqueado manual' : 'Bloqueado automático')}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" fxFill></tr>
  </table>
  <mat-paginator [ngStyle]="{display: dataSource.data.length > 0 ? 'block' : 'none'}" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  <div fxLayoutAlign="start space-between" *ngIf="dataSource.data.length > 0">
    <button mat-raised-button (click)="exportar()">Exportar</button>
  </div>
</div>


<!-- mensajes sin resultados -->
<div fxLayout="row" class="mensaje-inicial" fxLayoutAlign="center center" *ngIf="dataSource.data.length === 0">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">

    <h1 class="poppins" style="color:#a6a4a4;">No se encontraron resultados para su búsqueda.</h1>
  </div>
</div>