<div class="dialog-content">
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px" *ngIf="!data.borrado">
        <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="delete"></mat-icon>
        <p class="dialog-title">¿Está seguro que quiere borrar el cliente {{data.optica}}?</p>
    </div>
    <div mat-dialog-title fxLayout="row" fxLayoutGap="15px" *ngIf="data.borrado">
        <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="restore_from_trash"></mat-icon>
        <p class="dialog-title" >¿Está seguro que quiere recuperar el cliente {{data.optica}}?</p>
    </div>


    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
        <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" *ngIf="!data.borrado" [mat-dialog-close]="data.id">Borrar</button>
        <button mat-raised-button color="primary" *ngIf="data.borrado" [mat-dialog-close]="data.id">Recuperar</button>

    </div>
</div>