<form #modalForm="ngForm">

    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="font-size:30px">edit</mat-icon>
            <p class="dialog-title">Editar tipo de artículo</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Nombre" [(ngModel)]="data.modelTipoArticulo.Nombre" name="nombre"
                    #nombre="ngModel" (keyup.enter)="onEnter();" required>
                <mat-error *ngIf="nombre.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Ingresos brutos" [(ngModel)]="data.modelTipoArticulo.IngresosBrutos"
                    name="ingresosBrutos" #ingresosBrutos="ngModel" (keyup.enter)="onEnter();">
            </mat-form-field>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" [mat-dialog-close]="data">Guardar</button>
        </div>
    </div>
</form>