<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="font-size:30px">add_circle_outline</mat-icon>
            <p class="dialog-title">Agregar proveedor</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Nombre" [(ngModel)]="data.modelProveedor.Nombre" name="nombre"
                    #nombre="ngModel" required>
                <mat-error *ngIf="nombre.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="CUIT" [(ngModel)]="data.modelProveedor.Cuit" name="cuit"
                    #cuit="ngModel" required>
                <mat-error *ngIf="cuit.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Domicilio" [(ngModel)]="data.modelProveedor.Domicilio" name="domicilio"
                    #domicilio="ngModel">
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Teléfonos" [(ngModel)]="data.modelProveedor.Telefonos" name="telefonos"
                    #telefonos="ngModel">
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Email" [(ngModel)]="data.modelProveedor.Mail" id="email" name="email"
                    #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <mat-error *ngIf="email.errors?.pattern">El formato es inválido.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-checkbox class="radio-group" [(ngModel)]="data.modelProveedor.UtilizaIIBB"
                name="utilizaIIBB" #utilizaIIBB="ngModel">Utiliza IIBB
            </mat-checkbox>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Localidad" aria-label="Localidad" matInput [formControl]="localidadesControl" [matAutocomplete]="auto" [(ngModel)]="data.modelProveedor.IdLocalidad" name="localidad" (blur)="setIdLocalidad(this.localidadesControl,
                this.data)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLocalidad">
                <mat-option *ngFor="let l of filteredLocalidades | async" [value]="l">
                    {{ l.Nombre }} - {{l.Cp}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" [mat-dialog-close]="data">Agregar</button>
        </div>
    </div>
</form>