<div class="content">
  <app-loading-spinner></app-loading-spinner>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <div fxLayout="column">
      <h4 fxLayout="column" class="titulo" fxFlex>Movimientos de insumo</h4>
      <h5 fxLayout="column" fxFlex>{{insumo?.Id}} - {{insumo?.Nombre}}</h5>
      <h5 fxLayout="column" fxFlex>Stock actual: {{insumo?.StockActual}}</h5>
    </div>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador" fxFlexOffset="35">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus"
        placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarMovimientoInsumo()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
    <p>Agregar</p>
  </div>
  <mat-divider></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="TipoMovimiento">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60"> TIPO MOVIMIENTO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="60" fxLayoutAlign="start center"> {{row.TipoMovimiento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="14"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="14" fxLayoutAlign="start center"> {{row.Fecha | date:"dd/MM/yyyy"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13"> CANTIDAD </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="13" fxLayoutAlign="start center"> {{row.Cantidad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13"> USUARIO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="13" fxLayoutAlign="start center"> {{row.IdUsuarioNavigation.UserName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>