<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Actualización de precios de servicios</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-form-field fxLayout="column" fxFlex='10'>
      <input matInput placeholder="Porcentaje" id="porcentaje" (keypress)="_keyPress($event)" (blur)="recorrerPrecios()"  [disabled]="!habilitarPorcentajeTodos">
    </mat-form-field>
    <div fxLayout="column">
      <mat-checkbox fxFlex='17' class="radio-group" name="precios" id="precios" [(ngModel)]="checkedPorcentajeTodos" (change)="onClickedPorcentajeTodos($event)">Aplicar porcentaje a todos los precios</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end" class="alinearDerecha">
      <button mat-raised-button color="primary" [disabled]="porcentajesServicios.length == 0"
        (click)="guardarPrecios()">Guardar precios</button>
    </div>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <table mat-table [dataSource]="dataSourceTipo" matSort fxFlexOffset="3" class="tabla" multiTemplateDataRows>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> NOMBRE </th>
      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Nombre}} 
        </td>
    </ng-container>

    <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef fxFlex="15">
        <mat-checkbox name="checkbox{{i}}" [checked]="checkedCheckbox(i)" [indeterminate]="indeterminateCheckbox(i)"
          (change)="onClickedTodos($event)"></mat-checkbox> {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center">
        <mat-checkbox name="checkbox{{i}}" [checked]="chequearTipo(i, row.Id)"
          [indeterminate]="indeterminateTipo(i, row.Id)" (change)="onClickedTodosTipo($event, row.Id)"> </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="Porcentaje">
      <th mat-header-cell *matHeaderCellDef fxFlex="11"> PORCENTAJE </th>
      <td mat-cell *matCellDef="let row" fxFlex="11" fxLayoutAlign="start center">
        <mat-form-field style="width: 50px;">
          <input matInput (keypress)="_keyPress($event)" [disabled]="!habilitarPorcentajeTipo(row.Id)"
            (blur)="porcentajeTipoServicio($event.target.value, row.Id)">
        </mat-form-field>
      </td>
    </ng-container>


    <!-- ////////////////////////////////////// SEGUNDA TABLA ////////////////////////////////////// -->
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length" class="informacion">
        <div class="example-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <table mat-table [dataSource]="dataSourceServicio" matSort fxFlexOffset="3" class="tabla"
            *ngIf="row == expandedElement">
            <ng-container matColumnDef="NombreServicio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> NOMBRE ARTICULO </th>
              <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> 
                <a (click)="modificacionPrecioServicio(row.Id)" style="cursor: pointer;" class="link"> {{row.Nombre}}
                </a>  
               </td>
            </ng-container>

            <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef fxFlex="15">
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center">
                <mat-checkbox *ngIf="row.PrecioServicio[i] != null" name="checkbox{{i}}"
                  [checked]="chequear(row.PrecioServicio[i].Id)" (change)="onClicked(row, $event)">
                  {{row.PrecioServicio[i].Precio}} </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="PorcentajeServicio">
              <th mat-header-cell *matHeaderCellDef fxFlex="11"> PORCENTAJE </th>
              <td mat-cell *matCellDef="let row; let i = index" fxFlex="11" fxLayoutAlign="start center">
                <mat-form-field style="width: 50px;">
                  <input matInput (keypress)="_keyPress($event)" [disabled]="!habilitarPorcentaje(row)"
                    (blur)="porcentajeServicio($event.target.value, row.Id)" value="{{devolverValorPorcentaje(row.Id)}}">
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsServicio" sticky></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsServicio;"></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
      (click)="tablaServicios(row.Id, (!search.invalid && search.value != undefined) ? search.value : ''); expandedElement = expandedElement === row ? null : row"
      [class.example-expanded-row]="expandedElement === row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-fab class="buttonToTop" color="primary" (click)="scrollToTop()">
      <mat-icon svgIcon="arrow_up"></mat-icon>
    </button>
  </div>
</div>