<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <p class="dialog-title">¿Desea emitir remito o factura?</p>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button color="primary"
            [mat-dialog-close]="0">Remito</button>
            <button mat-raised-button color="primary"
                [mat-dialog-close]="1">Factura</button>
        </div>
    </div>
</form>