<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <p class="dialog-title">Libre</p>
        </div>

        <div mat-dialog-content fxLayout="row" fxLayoutGap="15px">
            <mat-form-field fxFill>
                <input matInput placeholder="Descripcion" id="descripcion" [(ngModel)]="modelComprobanteItem.Descripcion" name="descripcion"
                    #descripcion="ngModel" (keydown.enter)="$event.stopImmediatePropagation()" (keypress)="_keyPressDescripcion($event)"
                    (keyup.enter)="tabInventado($event, 'precio')" required>
                <mat-error *ngIf="descripcion.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row" fxLayoutGap="15px">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Precio" id="precio" [(ngModel)]="modelComprobanteItem.Monto" name="precio"
                    #precio="ngModel" pattern="^\d*(\.\d{0,2})?$" (keypress)="_keyPress($event)"
                    (keyup.enter)="tabInventado($event, 'cantidad')" required>
                <mat-error *ngIf="precio.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25">
                <input matInput placeholder="Cantidad" id="cantidad" (keyup.enter)="tabInventado($event, 'sobre')"
                    (keypress)="_keyPress($event)" [(ngModel)]="modelComprobanteItem.Cantidad" #cantidad="ngModel"
                    name="cantidad" required>
                <mat-error *ngIf="cantidad.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25" *ngIf="data.utilizaSobre">
                <input matInput placeholder="Sobre" id="sobre" (keypress)="_keyPress($event)"
                    (keyup.enter)="tabInventado($event, 'seleccionar')" [(ngModel)]="modelComprobanteItem.NumeroSobre"
                    name="sobre">
            </mat-form-field>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button  id="lala" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" id="seleccionar"
                [mat-dialog-close]="modelComprobanteItem">Seleccionar</button>
        </div>
    </div>
</form>