mat-paginator{
    background: transparent;
    font-size: 11px;
  }
  
  /* /////////////////// */
  
  .buscador{
    font-size: 14px;
  }
  
  .menu-agregar{
    padding: 8px 0;
  }
  
  .buttonFixed{
    transform: scale(0.7);
  }
  
  .texto-explicativo{
    font-family: "Chalet London" !important;
    font-size: small;
    color: firebrick;
  }

  .radio-group {
    padding-top: 20px;
    /* padding-bottom: 10px; */
}
  
  /* /////////////////// */
  
  
  table {
    width: 100%;
    width: 100%;
    padding: 0px !important;
  }
  
  .mat-table{
    background-color: transparent;
  }
  
  th.mat-header-cell:first-of-type{
    padding-left: 0px;
  }
  
  th.mat-header-cell:last-of-type{
    padding-right: 0px;
  }
  
  td.mat-cell:first-of-type{
    padding-left: 0px;
  }
  
  td.mat-cell:last-of-type{
    padding-right: 0px;
  }
  
  td {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  mat-checkbox {
    padding-bottom: 3px;
  }
  
  tr.example-detail-row {
    height: auto;
  }
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  td.mat-cell.informacion{
    padding-top: 0px;
    padding-bottom: 8px;
  }
  
  .conColor {
    background: #FCE4EC;
    margin-top: 0px;
    padding-bottom: 0px;
  }

