.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 1rem; */
    max-height: 35px;
    min-width: 100%;
    color: white;
    background-color: #1b1b1b;
    display: inline-block;
    text-align: center;
    margin: 0;
  }

.menu-nav { 
    /* padding: 0px 5px; */
    margin: 0;
}

.title-list {
    /* min-width: 100%; */
    font-size: 14px;
    height: 35px;
    min-width: 130px;
    font-weight: bold;
    /* padding: 0px 40px; */
    color: #f5f5f5;
    align-items: center;
    cursor: default;
}

.button-list {
    /* min-width: 100%; */
    font-size: 14px;
    height: 35px;
    /* padding: 0px 40px; */
    color: #f5f5f5;
    align-items: start;
    padding: 0;
}

.heading-children.expanded {
    visibility: visible;
    opacity: 1;
    max-height: 4000px;
    transition: visibility .5s, opacity .5s, max-height .5s;
    transition-timing-function: ease-in-out;
}

.heading-children.collapsed {
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    transition: visibility 275ms, opacity 275ms, max-height 280ms;
    transition-timing-function: ease-out;
}

.link{
    font-family: "Chalet London";
    font-size: 25px;
    letter-spacing: 0.03em;
}

.link:link {
    color: #ead246;
    background-color: transparent;
    text-decoration: none;
}

.link:visited {
    color: #ead246;
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    color: #ead246;
    background-color: transparent;
    text-decoration: underline;
}
.link:active {
    color: #ead246;
    background-color: transparent;
    text-decoration: underline;
}
