.dialog-content {
    padding: 15px 25px 30px 25px;
}

.dialog-title {
    font-family: "Chalet London" !important;
    font-size: 18px;
}

.dialog-warning {
    font-family: "Chalet London" !important;
    font-size: small;
    color: firebrick; 
    margin: 0;
}

.dialog-text {
    font-family: "Chalet London" !important;
    font-size: small;
    margin: 0;
}

.dialog-botones {
    margin-top: 15px !important;
}

.mat-dialog-content {
    height: 80px;
}