<form #modalForm="ngForm">
    <div class="content">
        <!-- <app-loading-spinner></app-loading-spinner> -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <h4 fxLayout="column" class="titulo" fxFlex>Agregar stock</h4>
        </div>
        <mat-divider fxFlexOffset="2"></mat-divider>
        <div fxLayout="row" fxFlexOffset="2" fxLayoutAlign="start center">
            <p>Stock</p>
            <button mat-icon-button color="accent" matTooltip="Agregar stock" (click)="agregarStock()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-divider fxFlexOffset="2"></mat-divider>

        <div fxLayout="row" fxFlexOffset="2"  fxFill>
            <div fxFill>
                <div fxLayout="row" fxLayoutGap="1vw" fxFill (change)="updateStateStock()"
                    *ngFor="let s of cargarStock; let index = index">
                    <div fxLayout="column" style="width: 1000px;">
                        <mat-form-field>
                            <input type="text" placeholder="Lente"  aria-label="Lente" matInput #inputLente="ngModel" required autofocus="autofocus"
                                (keyup)="filterLenteOnUp(inputLente.value)" [(ngModel)]="cargarStock[index].IdLenteNavigation" id="lente{{index}}" 
                                [matAutocomplete]="auto" name="lente{{index}}" (blur)="setIdLente(cargarStock[index].IdLenteNavigation, index)">
                            <!-- (keyup.enter)="setIdLente(this.lentesControl, this.data);" -->
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLente">
                                <mat-option *ngFor="let l of filteredLentes | async" [value]="l">
                                    {{ l.Id }} - {{l.Nombre}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="inputLente.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column">
                        <mat-form-field>
                            <input matInput placeholder="Medida esférico" autocomplete="off"
                                [(ngModel)]="cargarStock[index].MedidaEsferico" id="esferico{{index}}"
                                name="esferico{{index}}" #esferico="ngModel" (keypress)="_keyPress($event)"
                                (blur)="this.validacionLenteService.divisionMedida(cargarStock[index], this.cargarStock[index].MedidaEsferico, 'esferico')"
                                (input)="compararLimiteGrilla(index, 'esferico')" 
                                required>
                            <mat-error *ngIf="esferico.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>       
                        <p class="msjError" *ngIf="msjLimiteEsferico[index]">
                            La medida no se encuentra dentro de los límites.</p>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field>
                            <input matInput placeholder="Medida cilindríco" autocomplete="off"
                                [(ngModel)]="cargarStock[index].MedidaCilindrico" id="cilindrico{{index}}"
                                name="cilindrico{{index}}" #cilindrico="ngModel"
                                (blur)="validacionLenteService.divisionMedida(cargarStock[index], cargarStock[index].MedidaCilindrico, 'cilindrico')" (keypress)="_keyPress($event)"
                                (input)="compararLimiteGrilla(index, 'cilindrico')" required>
                            <mat-error *ngIf="cilindrico.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                        <p class="msjError" *ngIf="validacionLenteService.compararGraduacion(cargarStock[index], cargarStock[index].IdLenteNavigation)">La medida no respeta el signo de la lente.</p>
                        <p class="msjError" *ngIf="msjLimiteCilindrico[index]">
                            La medida no se encuentra dentro de los límites.
                        </p>
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Stock" type="number" [(ngModel)]="cargarStock[index].Stock"
                            id="stock{{index}}" name="stock{{index}}" #stock="ngModel" required>
                        <mat-error *ngIf="stock.hasError('required')">Este campo es obligatorio.</mat-error>
                    </mat-form-field>

                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="eliminarUltimoStock()"
                        [disabled]="cargarStock.length < 1" color="accent">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid || cargarStock.length == 0 || msjLimiteCilindrico.includes(true) || msjLimiteEsferico.includes(true)"
                (click)="agregarNuevoStock()">Agregar</button>
        </div>
    </div>
</form>