<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <div fxLayout="column">
      <h4 fxLayout="column" class="titulo" fxFlex>Resultados</h4>
      <h5 fxLayout="column" fxFlex>{{producto}}</h5>
      <h5 fxLayout="column" fxFlex>Período: {{desde | date:"dd/MM/yyyy"}} - {{hasta | date:"dd/MM/yyyy"}}</h5>
    </div>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador" fxFlexOffset="35">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus"
        placeholder="Buscar">
    </mat-form-field>
  </div>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla" [hidden]="dataSource.data.length === 0">
    <ng-container matColumnDef="Tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> TIPO  </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.IdTipoComprobanteNavigation != undefined ? row.IdTipoComprobanteNavigation : 'Remito'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Letra">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10"> LETRA </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="10" fxLayoutAlign="start center"> {{row.Letra}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center">
        {{row.Fecha | date:"dd/MM/yyyy HH:mm:ss"}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="NumeroComprobante">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="15"> NÚMERO COMPROBANTE  </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.Numero}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="30"> CLIENTE  </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="30" fxLayoutAlign="start center">  {{ row.IdClienteNavigation }} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Observaciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> OBSERVACIONES </mat-header-cell>
      <mat-cell *matCellDef="let row"  fxFlex="15" fxLayoutAlign="start center"> {{ (row.FechaAnulado != undefined) ? 'Anulado' : '' }}
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill (click)="verComprobante(row.Id, row.IdTipoComprobante, row.IdComprobanteItem)"></mat-row>
  </mat-table>
    <mat-paginator [ngStyle]="{display: dataSource.data.length > 0 ? 'block' : 'none'}" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  
</div>

 <!-- mensajes sin resultados -->
 <div fxLayout="row" class="mensaje-inicial" fxLayoutAlign="center center" *ngIf="dataSource.data.length === 0">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">

    <h1 class="poppins" style="color:#a6a4a4;">No se encontraron resultados para su búsqueda.</h1>
  </div>
 </div>