<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Tipos de Comprobante</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
      <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarTipoComprobante()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <p>Agregar</p>
    </div>
    
  </div>
  
  <mat-divider></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> CÓDIGO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Codigo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60"> DESCRIPCIÓN</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="60" fxLayoutAlign="start center"> {{row.Descripcion}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Opciones">
      <mat-header-cell *matHeaderCellDef fxFlex="20"></mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="end">
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
          (click)="modificarTipoComprobante(row)">
          <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarTipoComprobante(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>