<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" svgIcon="add_circle_outline" style="width: 30px; height: 30px;"></mat-icon>
            <p class="dialog-title">Modificar precios lente {{data.lente.Nombre}}</p>
        </div>

        <!-- <div mat-dialog-content fxLayout="row" fxFlexOffset="4"> -->
            <div mat-dialog-content fxLayout="column">
                <div mat-dialog-content fxLayout="row" fxFill>
                <p>Precios
                    <button mat-icon-button color="primary" matTooltip="Agregar rango y precio" (click)="agregarRangoPrecio()">
                        <mat-icon svgIcon="add"></mat-icon>
                    </button>
                </p>
                </div>
                <div mat-dialog-content fxLayout="row" 
                 *ngFor="let p of modelPrecio; let i = index">
                    <mat-form-field>
                        <input type="text" placeholder="Esférico" matInput #inputEsferico="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Esferico" id="esferico{{i}}" name="esferico{{i}}" required>
                        <mat-error *ngIf="inputEsferico.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Cilíndrico" matInput #inputCilindrico="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Cilindrico" id="cilindrico{{i}}" name="cilindrico{{i}}" required>
                        <mat-error *ngIf="inputCilindrico.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Precio" matInput #inputPrecio="ngModel" pattern="[0-9]*"
                            [(ngModel)]="p.Precio" id="precio{{i}}" name="precio{{i}}" required>
                        <mat-error *ngIf="inputPrecio.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <button mat-icon-button matSuffix matTooltip="Agregar precio al rango" (click)="agregarPrecio(i)">
                        <mat-icon svgIcon="add"></mat-icon>
                    </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="eliminarPrecio(i)"
                        [disabled]="modelPrecio.length < 1">
                        <mat-icon svgIcon="close"></mat-icon>
                    </button>
                </div>
            </div>
        <!-- </div> -->


        <!-- <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid"
                [mat-dialog-close]="data">Agregar</button>
        </div> -->
    </div>
</form>