<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="font-size:30px" svgIcon="estadistica"></mat-icon>
            <p class="dialog-title">Venta de clientes por mes</p>
        </div>

        <div mat-dialog-content fxLayout="row" fxLayoutGap="2vw"
            style="font-size: small; line-height: 38px !important;">
            <mat-form-field fxFlex="55">
                <mat-select [formControl]="clientesControl" name="cliente" id="cliente" multiple #cli
                    placeholder="Clientes" required>
                    <mat-select-trigger>
                        {{(!cli.empty) ? cli.value[0].Id : ''}} - {{(!cli.empty) ? cli.value[0].Optica : ''}}
                        <span *ngIf="cli.value?.length > 1" class="example-additional-selection">
                            (+{{cli.value.length - 1}} {{cli.value?.length === 2 ? 'clientes' : 'más'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let c of clientes" [value]="c"
                        (onSelectionChange)="clientesSeleccionados($event)">{{c.Id}} - {{c.Optica}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayoutAlign="start center">
                <mat-slide-toggle color="accent" #todos id="todos" name="todos" [checked]="todo">Todos los clientes
                </mat-slide-toggle>
            </div>
        </div>

        <div mat-dialog-content fxLayout="row" fxLayoutGap="2vw"
            style="font-size: small; line-height: 38px !important;">
            <mat-form-field fxFlex="25">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="since">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event, 'desde')"
                                (monthSelected)="chosenMonthHandler($event, dp, 'desde')"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="dp2" [formControl]="today" [min]="since" >
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event,'hasta')"
                                (monthSelected)="chosenMonthHandler($event, dp2, 'hasta')"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
            <div fxLayoutAlign="start center">
                <mat-slide-toggle color="accent" #unifica id="unifica" name="unifica" [checked]="analogo">Unifica con
                    analogo
                </mat-slide-toggle>
            </div>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!clientesControl.valid"
                [mat-dialog-close]="data">Aceptar</button>
        </div>
    </div>
</form>