<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Seleccione el lente y graduación</ng-template>
        <app-seleccion-lente (selectedComprobanteItemLente)="listaComprobanteItemEvento($event)" (selectedServiciosComprobanteItem)="listaServiciosComprobanteItemEvento($event)"></app-seleccion-lente>
        <div>
          <button mat-button (click)="onNoClick()">Cancelar</button>
          <button mat-button matStepperNext id="siguiente1" [disabled]="modelComprobanteItemLente.length == 0">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [optional]>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Seleccione servicios</ng-template>
        <app-seleccion-servicios></app-seleccion-servicios>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext id="siguiente2">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [optional]>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Seleccione recargos</ng-template>
        <app-seleccion-recargos (selectedRecargosComprobanteItem)="listaRecargosComprobanteItemEvento($event)" [selectedLente]="modelComprobanteItemLente"></app-seleccion-recargos>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext id="siguiente3">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmar</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  