<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Cheques</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarCheque()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
    <p>Agregar</p>
  </div>
  
  <mat-divider></mat-divider>

  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Banco">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30"> BANCO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="30" fxLayoutAlign="start center"> {{row.IdBancoNavigation.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Numero">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> NÚMERO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Numero}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Librador">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> LIBRADOR </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.IdClienteNavigation.Optica}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Fecha | date:"dd/MM/yyyy HH:mm:ss"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Importe">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> IMPORTE </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Importe}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <mat-header-cell *matHeaderCellDef fxFlex></mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarCheque(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>