<form #articuloForm="ngForm">
    <div class="content">
        <div fxLayout="row" fxLayoutGap="15px">
            <!-- <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon> -->
            <h4 class="titulo">Agregar artículo vario</h4>
        </div>

        <div fxLayout="row" fxLayoutGap="2vw">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Nombre" [(ngModel)]="modelArticuloVario.Nombre" name="nombre"
                    #nombre="ngModel" required>
                <mat-error *ngIf="nombre.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <mat-select placeholder="Tipo de servicio" [(ngModel)]="modelArticuloVario.IdTipoArticulo" name="tipo"
                    #tipo="ngModel" required>
                    <mat-option *ngFor="let ta of tiposArticuloVario" [value]="ta.Id">
                        {{ ta.Nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="tipo.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>
       

        <div fxLayout="row" fxLayoutGap="2vw">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Stock mínimo" [(ngModel)]="modelArticuloVario.StockMinimo" name="stockMinimo"
                    #stockMinimo="ngModel" required>
                <mat-error *ngIf="stockMinimo.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Precio costo" [(ngModel)]="modelArticuloVario.PrecioCosto" name="precioCosto"
                    #precioCosto="ngModel" required>
                <mat-error *ngIf="precioCosto.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>


        <div fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Utilidad %" [(ngModel)]="modelArticuloVario.PorcentajeUtilidad" name="porcentajeUtilidad"
                    #porcentajeUtilidad="ngModel" required>
                <mat-error *ngIf="porcentajeUtilidad.invalid">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div  fxLayout="row" (change)="precioSelected()" *ngFor="let p of modelArticuloVario.PrecioArticulo; let index = index">
            <mat-form-field fxFill>
                <input matInput placeholder="Precio" [(ngModel)]="modelArticuloVario.PrecioArticulo[index].Precio" id="precio{{index}}" name="precio{{index}}" #precio="ngModel" required>
                <mat-error *ngIf="precio.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
            <div fxFlex='10' fxFlexOffset='80'>
                <button mat-mini-fab color="accent" matTooltip="Agregar precio" (click)="agregarPrecio()">
                    <mat-icon class="md-icon-black-18">add</mat-icon>
                </button>
            </div>

            <div fxFlex>
                <button mat-mini-fab color="warn" (click)="eliminarUltimoPrecio()" [disabled]="modelArticuloVario.PrecioArticulo.length < 1">
                    <mat-icon class="md-icon-black-18">delete</mat-icon>
                </button>
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="1vw" fxFlexOffset="4">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!articuloForm.form.valid"  (click)="altaArticuloVario()">Agregar</button>
        </div>
    </div>

</form>