<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon>
            <p class="dialog-title">Agregar stock {{data.descripcion}}</p>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
            <p>Stock</p>
            <button mat-icon-button color="accent" matTooltip="Agregar stock" (click)="agregarStock()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxFill>
            <div>
                <div fxLayout="row" fxLayoutGap="1vw" (change)="updateStateStock()"
                    *ngFor="let s of cargarStock; let index = index">
                    <div fxLayout="column">
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Medida esférico" autocomplete="off" required type="text" 
                                [(ngModel)]="cargarStock[index].MedidaEsferico" id="esferico{{index}}"
                                name="esferico{{index}}" #esferico="ngModel" (keypress)="_keyPress($event)"
                                (blur)="compararLimiteGrilla($event.target.value, index, 'esferico'); this.validacionLenteService.divisionMedida(cargarStock[index], cargarStock[index].MedidaEsferico, 'esferico');">
                            <mat-error *ngIf="esferico.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                        <p class="msjError" *ngIf="msjLimiteEsferico[index]">
                            La medida no se encuentra dentro de los límites.</p>
                    </div>
                    <div fxLayout="column" *ngIf="this.data.lente.GraduacionesCilindricas == '-'; else bloqueoNegativo">
                        <mat-form-field fxFlex="50">
                            <input type="text" placeholder="Cilíndrico" matInput #inputCilindrico="ngModel"
                                autocomplete="off" [(ngModel)]="cargarStock[index].MedidaCilindrico" id="cilindrico{{index}}"
                                name="cilindrico{{index}}" required (keypress)="_keyPress($event)" (keypress)="_keyPress($event)"
                                (blur)="cambiarSigno(index); compararLimiteGrilla($event.target.value, index, 'cilindrico')">
                            <mat-error *ngIf="inputCilindrico.invalid">Este campo es obligatorio</mat-error>
                        </mat-form-field>
                        <p class="msjError" *ngIf="msjLimiteCilindrico[index]">
                            La medida no se encuentra dentro de los límites.
                        </p>
                    </div>
                    <ng-template #bloqueoNegativo>
                        <div fxLayout="column" >
                            <mat-form-field fxFlex="50">
                                <input type="text" placeholder="Cilíndrico" matInput #inputCilindrico="ngModel"
                                    autocomplete="off" [(ngModel)]="cargarStock[index].MedidaCilindrico" id="cilindrico{{index}}"
                                    name="cilindrico{{index}}" required (keypress)="_keyPress($event)" (keypress)="_keyPress($event)"
                                    (blur)="cambiarSigno(index); compararLimiteGrilla($event.target.value, index, 'cilindrico')">
                                <mat-error *ngIf="inputCilindrico.invalid">Este campo es obligatorio</mat-error>
                            </mat-form-field>
                            <p class="msjError" *ngIf="msjLimiteCilindrico[index]">
                                La medida no se encuentra dentro de los límites.
                            </p>
                        </div>
                    </ng-template>
                    <div fxLayout="column">
                        <mat-form-field>
                            <input matInput placeholder="Stock" type="number" [(ngModel)]="cargarStock[index].Stock" (blur)="validarCantidad(index)"
                                id="stock{{index}}" name="stock{{index}}" #stock="ngModel" required>
                            <mat-error *ngIf="stock.invalid">Este campo es obligatorio</mat-error>
                        </mat-form-field>
                        <p class="msjError" *ngIf="msjCantidad[index] && cargarStock[index].IdLenteNavigation.Fraccionado">El stock no es múltiplo de 0.5.</p>
                        <p class="msjError" *ngIf="msjCantidad[index] && !cargarStock[index].IdLenteNavigation.Fraccionado">El stock debe ser entero.</p>
                    </div>

                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="eliminarUltimoStock()"
                        [disabled]="cargarStock.length < 1" color="accent">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary"
                [disabled]="!modalForm.form.valid || cargarStock.length == 0 || msjLimiteCilindrico.includes(true) || msjLimiteEsferico.includes(true) || msjCantidad.includes(true)"
                (click)="agregarNuevoStock()">Agregar</button>
        </div>
    </div>
</form>