<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Anulación o consulta de comprobantes</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus"
        placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" style="margin: 12px auto;">
          <div fxLayoutGap="2vw" fxFlexOffset="2" fxLayout="row" fxFill
            style="font-size: small; line-height: 38px !important;">
            <div fxLayoutAlign="start center" fxLayoutGap="2vw">
              <mat-form-field fxFill>
                <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                  <mat-option *ngFor="let c of filteredClientes | async" [value]="c"
                    (onSelectionChange)="applyFilterAvanzados($event, 'cliente')">
                    {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-slide-toggle color="accent" #todos id="todos" name="todos" [checked]="todo"
                (click)="applyFilterAvanzados(todos, 'todos')">Todos los clientes
              </mat-slide-toggle>
            </div>
          </div>
          <div fxLayoutGap="2vw" fxFlexOffset="2" fxLayout="row" fxFill
            style="font-size: small; line-height: 38px !important;">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="since" placeholder="Desde" name="desde"
                #desde="ngModel" (ngModelChange)="applyFilterAvanzados('', 'desde')" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="today" placeholder="Hasta" name="hasta"
                #hasta="ngModel" (ngModelChange)="applyFilterAvanzados('', 'hasta')" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayoutGap="2vw" fxFlexOffset="2" fxLayout="row" fxFill
            style="font-size: small; line-height: 38px !important;">
            <mat-slide-toggle color="accent" #anulados id="anulados" name="anulados" [checked]="anulado"
              (click)="applyFilterAvanzados(anulados, 'anulados')">Solo anulados
            </mat-slide-toggle>
            <mat-slide-toggle color="accent" #validos id="validos" name="validos" [checked]="valido"
              (click)="applyFilterAvanzados(validos, 'validos')">Solo válidos
            </mat-slide-toggle>
            <mat-slide-toggle color="accent" #remitos id="remitos" name="remitos" [checked]="remito"
              (click)="applyFilterAvanzados(remitos, 'remitos')">Incluir remitos facturados
            </mat-slide-toggle>
            <mat-slide-toggle color="accent" #recibos id="recibos" name="recibos" [checked]="recibo"
              (click)="applyFilterAvanzados(recibos, 'recibos')">Solo recibos
            </mat-slide-toggle>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <table mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla"
    [hidden]="dataSource.data.length === 0">
    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30"> CLIENTE </th>
      <td mat-cell *matCellDef="let row" fxFlex="30" fxLayoutAlign="start center"> {{ row.IdClienteNavigation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> TIPO </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.IdTipoComprobanteNavigation !=
        undefined ? row.IdTipoComprobanteNavigation : 'Remito'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Letra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> LETRA </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Letra}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> FECHA </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center">
        {{row.Fecha | date:"dd/MM/yyyy HH:mm:ss"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="NumeroComprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> NÚMERO COMPROBANTE </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.Numero}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> MONTO </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.Numero}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> ESTADO </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{ (row.FechaAnulado != undefined) ?
        'Anulado' : '' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></tr>
  </table>
  <mat-paginator [ngStyle]="{display: dataSource.data.length > 0 ? 'block' : 'none'}" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>


<!-- mensajes sin resultados -->
<div fxLayout="row" class="mensaje-inicial" fxLayoutAlign="center center" *ngIf="dataSource.data.length === 0">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">

    <h1 class="poppins" style="color:#a6a4a4;">No se encontraron resultados para su búsqueda.</h1>
  </div>
</div>