<div class="content">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Consulta de clientes fuera de listas</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search id="search" autofocus="autofocus"
        placeholder="Buscar">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-accordion fxFill>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="titulo" fxFlex>Filtros</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
          <div fxLayoutGap="2vw" fxLayout="row" fxFill style="font-size: small; line-height: 38px !important;">
            <section>
              <p style="font-size: small; line-height: 38px !important;">Seleccione listas:</p>
              <mat-button-toggle-group name="busqueda">
                <mat-button-toggle  [checked]="busquedaLentes" 
                (change)="busquedaLentes = $event.source.checked; busquedaArticulos = false; busquedaServicios = false">
                  Lentes
                </mat-button-toggle>
                <mat-button-toggle  [checked]="busquedaArticulos" 
                (change)="busquedaArticulos = $event.source.checked; busquedaLentes = false; busquedaServicios = false">
                  Articulos
                </mat-button-toggle>
                <mat-button-toggle [checked]="busquedaServicios" 
                (change)="busquedaServicios = $event.source.checked; busquedaArticulos = false; busquedaLentes = false;">
                  Servicios
                </mat-button-toggle>
              </mat-button-toggle-group>
            </section>
          </div>
          <h5 *ngIf="busquedaLentes" fxFlexOffset="2" style="font-size: small; line-height: 38px !important;" class="titulo">Seleccione las listas de lentes a excluir:</h5>
          <div fxLayout="row" *ngIf="busquedaLentes" fxLayoutAlign="start center">
              <!-- Checkbox de listas de precio de lentes-->
              <div *ngFor="let i of [].constructor(cantListasLentes); let j = index" fxLayout="column" style="margin-right: 20px;">
                <section>
                  <mat-checkbox>Lista {{ j + 1 }}</mat-checkbox>
                </section>
              </div>
          </div>
          <h5 *ngIf="busquedaArticulos" fxFlexOffset="2" style="font-size: small; line-height: 38px !important;" class="titulo">Seleccione las listas de artículos a excluir:</h5>
          <div fxLayout="row" *ngIf="busquedaArticulos" fxLayoutAlign="start center">
              <!-- Checkbox de listas de precio de articulos-->
              <div *ngFor="let i of [].constructor(cantListasArticulos); let j = index" fxLayout="column" style="margin-right: 20px;">
                <section>
                  <mat-checkbox>Lista {{ j + 1 }}</mat-checkbox>
                </section>
              </div>
          </div>
          <h5 *ngIf="busquedaServicios" fxFlexOffset="2" style="font-size: small; line-height: 38px !important;" class="titulo">Seleccione las listas de servicios a excluir:</h5>
          <div fxLayout="row" *ngIf="busquedaServicios" fxLayoutAlign="start center">
              <!-- Checkbox de listas de precio de lentes-->
              <div *ngFor="let i of [].constructor(cantListasServicios); let j = index" fxLayout="column" style="margin-right: 20px;">
                <section>
                  <mat-checkbox>Lista {{ j + 1 }}</mat-checkbox>
                </section>
              </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <!-- <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla"
    [hidden]="dataSource.data.length === 0">
    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef fxFlex="30"> CLIENTE </th>
      <td mat-cell *matCellDef="let row" fxFlex="30" fxLayoutAlign="start center"> {{ row.IdClienteNavigation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Numero">
      <th mat-header-cell *matHeaderCellDef fxFlex="15"> NÚMERO </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.Id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef fxFlex="20"> FECHA </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center">
        {{row.Fecha | date:"dd/MM/yyyy HH:mm:ss"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef fxFlex="20"> ESTADO </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{(row.FechaAnulado != undefined) ?
        'Anulado' : (row.FechaFactura != undefined) ? 'Facturado' : ''}}
      </td>
    </ng-container>

    <ng-container matColumnDef="FechaFacturado">
      <th mat-header-cell *matHeaderCellDef fxFlex="15"> FECHA FACTURADO </th>
      <td mat-cell *matCellDef="let row" fxFlex="15" fxLayoutAlign="start center"> {{row.FechaFactura | date:"dd/MM/yyyy
        HH:mm:ss"}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill (click)="verComprobante(row.Id)"></tr>
  </mat-table>
  <mat-paginator [ngStyle]="{display: dataSource.data.length > 0 ? 'block' : 'none'}" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>


 mensajes sin resultados
<div fxLayout="row" class="mensaje-inicial" fxLayoutAlign="center center" *ngIf="dataSource.data.length === 0">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">

    <h1 class="poppins" style="color:#a6a4a4;">No se encontraron resultados para su búsqueda.</h1>
  </div>
</div> -->