<div class="dialog-content">
  
  <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
    <mat-icon color="primary" svgIcon="funciones_usuario" style="width: 30px; height: 30px;"></mat-icon>
    <p class="dialog-title">Asignar funciones para <b>{{data.modelUsuario.UserName}}</b></p>
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <mat-checkbox labelPosition="before" (change)="onClicked(node.funcion)" [checked]="checkChecked(node.funcion)">
        {{node?.funcion.Descripcion}}</mat-checkbox>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.funcion.Descripcion">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-checkbox labelPosition="before" (change)="onClicked(node.funcion)" [checked]="checkChecked(node.funcion)">
        {{node?.funcion.Descripcion}}</mat-checkbox>
    </mat-tree-node>
  </mat-tree>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
    <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.funciones">Guardar</button>
  </div>

</div>