<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon>
            <p class="dialog-title">Agregar movimiento de block</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput [matDatepicker]="picker" placeholder="Fecha"
                    [(ngModel)]="data.modelMovimientoBlock.Fecha" name="fecha" #fecha="ngModel" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="fecha.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-radio-group class="radio-group" [(ngModel)]="data.modelMovimientoBlock.TipoMovimiento"
                name="tipoMovimiento" #tipoMovimiento="ngModel">
                <mat-radio-button value="Alta">Alta</mat-radio-button>
                <mat-radio-button style="margin-left: 5px;" value="Baja">Baja</mat-radio-button>
            </mat-radio-group>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Precio" [(ngModel)]="data.modelMovimientoBlock.Precio" name="precio"
                    #precio="ngModel" required>
                <mat-error *ngIf="precio.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row" fxLayoutGap="2vw">
            <mat-form-field >
                <input matInput placeholder="Base" [(ngModel)]="data.modelMovimientoBlock.Base" name="base"
                    #base="ngModel" required>
                <mat-error *ngIf="base.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Adición" [(ngModel)]="data.modelMovimientoBlock.Adicion" name="adicion"
                    #adicion="ngModel" required>
                <mat-error *ngIf="adicion.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <mat-select placeholder="Ubicacion" [(ngModel)]="data.modelMovimientoBlock.Caja[0].IdUbicacion" name="ubicacion"
                    #ubicacion="ngModel" required>
                    <mat-option *ngFor="let u of ubicaciones" [value]="u.Id">
                        {{ u.Nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="ubicacion.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxFill>
            <label style="font-weight: bold; font-size: small;">F5 - Activa/desactiva carga masiva</label>
            <div fxLayout="row" fxLayoutGap="2vw">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Caja grande" id="grande" name="grande"
                        [(ngModel)]="data.modelMovimientoBlock.Caja[0].NumeroCajaGrande" #grande="ngModel" required
                        (keypress)="_keyPress($event)">
                    <mat-error *ngIf="grande.hasError('required')">Campo obligatorio.</mat-error>
                </mat-form-field>
                <div fxFlex="33">
                    <mat-form-field>
                        <input matInput placeholder="Caja chica" id="chica" name="chica"
                            [(ngModel)]="data.modelMovimientoBlock.Caja[0].NumeroCajaChica" #chica="ngModel" required
                            (keypress)="_keyPress($event)">
                        <mat-error *ngIf="chica.hasError('required')">Campo obligatorio.</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Cantidad" id="cantidad" name="cantidad"
                        [(ngModel)]="data.modelMovimientoBlock.Caja[0].Cantidad" #cantidad="ngModel" required (keypress)="_keyPress($event)">
                    <mat-error *ngIf="cantidad.hasError('required')">Campo obligatorio.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid"
                [mat-dialog-close]="data">Agregar</button>
        </div>
    </div>
</form>