<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <h4 fxLayout="row" class="titulo" fxFill>Stock de {{lente.Nombre}}</h4>
    <h5 fxLayout="row" class="titulo" fxFill>Combinación {{lente.Combinacion}}</h5>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
      <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarStock()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <p>Agregar</p>
    </div>

    <button mat-raised-button color="primary" (click)="guardarStock()">Guardar</button>
  </div>
  <mat-divider></mat-divider>
  <table mat-table fxFill [dataSource]="dataSourceIzquierda" fxFlexOffset="3" class="tabla">
    <ng-container *ngFor="let column of columnsIzquierda; let i = index" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{ (column.header == 'Esférico Positivo' && column.header != undefined) ?  'Esférico Positivo' : ((agregarMas == true) ? '+' +(column.header | number:'1.2-2') : (column.header | number:'1.2-2'))}}</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="i == 0" style="font-size: 11px !important;" fxLayoutAlign="space-around center">
          +{{ row[i] | number:'1.2-2'}}
          <mat-form-field style="width: 50px;">
            <input matInput value="{{getTotalFila(row)}}" name="fila" (keypress)="_keyPress($event)">
          </mat-form-field>
        </div>
        <mat-form-field style="width: 50px;" *ngIf="i != 0">
          <input matInput value="{{row[i]}}" name="row{{i}}"
            (blur)="sumarStockIzquierda($event.target.value, row[0], i);" (keypress)="_keyPress($event)">
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-size: 11px !important;"> {{getTotalIzquierda(i)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="arraySuperiorIzquierdo; sticky: true" fxFill></tr>
    <tr mat-row *matRowDef="let row; columns: arraySuperiorIzquierdo;" fxFill></tr>
    <tr mat-footer-row *matFooterRowDef="arraySuperiorIzquierdo"></tr>
  </table>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-fab class="buttonToTop" color="primary" (click)="scrollToTop()">
      <mat-icon svgIcon="arrow_up"></mat-icon>
    </button>
  </div>

  <table mat-table fxFill [dataSource]="dataSourceDerecha" fxFlexOffset="3" class="tabla">
    <ng-container *ngFor="let column of columnsDerecha; let i = index" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef> 
        {{ (column.header == 'Esférico Negativo' && column.header != undefined) ?  'Esférico Negativo' : (column.header | number:'1.2-2')}}</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="i == 0" style="font-size: 11px !important;" fxLayoutAlign="space-around center">
          {{ row[i] | number:'1.2-2'}}
        <mat-form-field style="width: 50px;">
          <input matInput value="{{getTotalFila(row)}}" name="fila" (keypress)="_keyPress($event)">
        </mat-form-field>
      </div>
        <mat-form-field style="width: 50px;" *ngIf="i != 0">
          <input matInput value="{{row[i]}}" name="row{{i}}" (blur)="sumarStockDerecha($event.target.value, row[0], i);"
            (keypress)="_keyPress($event)">
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-size: 11px !important;"> {{getTotalDerecha(i)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="arraySuperiorDerecho; sticky: true" fxFill></tr>
    <tr mat-row *matRowDef="let row; columns: arraySuperiorDerecho;" fxFill></tr>
    <tr mat-footer-row *matFooterRowDef="arraySuperiorDerecho"></tr>
  </table>
</div>