.dialog-content{
    padding: 15px 25px 30px 25px;
}

.dialog-title{
    font-family: "Chalet London" !important;
    font-size: 18px;
    margin-top: 8px !important;
}

.dialog-botones{
    margin-top: 8px !important;
  }