<div class="content">
    <app-loading-spinner></app-loading-spinner>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <h4 fxLayout="column" class="titulo" fxFlex>Usuarios</h4>
        <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
            <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
        </mat-form-field>
    </div>
    <mat-divider fxFlexOffset="2"></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
          <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarUsuario()">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
          <p>Agregar</p>
        </div>
        
        <a mat-button *ngIf="traerVigentes" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar todos</a>
        <a mat-button *ngIf="!traerVigentes" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar vigentes</a>
      </div>
    <mat-divider></mat-divider>

    <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">

        <ng-container matColumnDef="Activo">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">ACTIVO</mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center">
                <mat-slide-toggle color="accent" [checked]="row.Activo" (click)="activarUsuario(row)">
                </mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Username">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="28">USUARIO</mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="28" fxLayoutAlign="start center">
               <div *ngIf="idUser == 1 || idUser == 5; else regUser">
                <a style="cursor: pointer;"  class="link" (click)="openDialogEditUserPass(row.Id, row.UserName);">
                    {{row.UserName}}
                </a>
            </div> 
                <ng-template #regUser>
                    {{row.UserName}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="26">NOMBRE</mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="26" fxLayoutAlign="start center"> {{row.Nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="26">APELLIDO</mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="26" fxLayoutAlign="start center"> {{row.Apellido}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Opciones">
            <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="end">
                <button mat-icon-button matTooltip="Modificar" [matTooltipPosition]="'above'" aria-label="Modificar"
                    (click)="modificarUsuario(row)">
                    <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
                </button>
                <button mat-icon-button matTooltip="Asignar funciones" [matTooltipPosition]="'above'" (click)="openFuncionalidadesUsuario(row)" aria-label="Asignar funciones">
                    <mat-icon svgIcon="funciones_usuario" class="tabla_icono"></mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" fxFill></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>