USE [DisplaNEW]
GO
/****** Object:  Table [dbo].[Lente]    Script Date: 13/4/2021 15:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lente](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[descripcionFactura] [nvarchar](50) NULL,
	[combinacion] [nvarchar](10) NULL,
	[graduacionesCilindricas] [nvarchar](1) NULL,
	[mediosPares] [bit] NULL,
	[idUsuario] [int] NULL,
	[fechaCreacion] [date] NULL,
	[ingresosBrutos] [float] NULL,
	[borrado] [bit] NOT NULL,
	[IVA] [decimal](4, 2) NULL,
	[fraccionado] [bit] NOT NULL,
 CONSTRAINT [PK_Lente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Lente] ([id], [nombre], [descripcionFactura], [combinacion], [graduacionesCilindricas], [mediosPares], [idUsuario], [fechaCreacion], [ingresosBrutos], [borrado], [IVA], [fraccionado]) VALUES (1, N'ORG STOCK BLANCO', N'ORG STOCK BLANCO', N'+ -  / - -', N'-', 1, NULL, CAST(0xBE380B00 AS Date), NULL, 0, CAST(10.00 AS Decimal(4, 2)), 1)
INSERT [dbo].[Lente] ([id], [nombre], [descripcionFactura], [combinacion], [graduacionesCilindricas], [mediosPares], [idUsuario], [fechaCreacion], [ingresosBrutos], [borrado], [IVA], [fraccionado]) VALUES (2, N'MC10 STOCK', N'MC10 STOCK ', N'+ -  / - -', N'-', 1, NULL, CAST(0xBE380B00 AS Date), NULL, 0, NULL, 1)
INSERT [dbo].[Lente] ([id], [nombre], [descripcionFactura], [combinacion], [graduacionesCilindricas], [mediosPares], [idUsuario], [fechaCreacion], [ingresosBrutos], [borrado], [IVA], [fraccionado]) VALUES (3, N'BLUEmax', N'BLUEmax', N'+ -  / - -', N'-', 1, NULL, CAST(0x7B3B0B00 AS Date), NULL, 0, NULL, 1)
GO
ALTER TABLE [dbo].[Lente] ADD  CONSTRAINT [DF_Lente_mediosPares]  DEFAULT ((0)) FOR [mediosPares]
GO
ALTER TABLE [dbo].[Lente] ADD  CONSTRAINT [DF_Lente_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Lente] ADD  CONSTRAINT [DF_Lente_fraccionado]  DEFAULT ((1)) FOR [fraccionado]
GO
