<div class="content">
    <app-loading-spinner></app-loading-spinner>
    <form name="clienteForm" #clienteForm="ngForm" fxLayout="column" fxFlexFill>

        <div fxLayout="row" fxLayoutAlign="start center">
            <h4 class="titulo" fxFlex>Editar cliente {{modelCliente.Optica}}</h4>
        </div>
        <mat-tab-group>
            <mat-tab label="Información">
                <div fxLayout="column" style="margin: 12px auto;">
                    <div fxLayout="row" fxLayoutGap="2vw" style="margin-top: 2px;">
                        <mat-form-field fxFlex='40' fxLayout="column">
                            <input matInput placeholder="Óptica" [(ngModel)]="modelCliente.Optica" name="optica"
                                #optica="ngModel" required>
                            <mat-error *ngIf="optica.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex='35' fxLayout="column">
                            <input matInput placeholder="Responsable" [(ngModel)]="modelCliente.Responsable"
                                name="responsable" #responsable="ngModel">
                        </mat-form-field>

                        <mat-form-field fxFlex='25' fxLayout="column">
                            <input matInput placeholder="CUIT" [(ngModel)]="modelCliente.Cuit" name="cuit"
                                #cuit="ngModel" required>
                            <mat-error *ngIf="cuit.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap="2vw">
                        <mat-form-field fxFlex='40' fxLayout="column">
                            <input matInput placeholder="Domicilio" [(ngModel)]="modelCliente.Direccion"
                                name="direccion" #direccion="ngModel">
                        </mat-form-field>

                        <mat-form-field fxFlex='35' fxLayout="column">
                            <input type="text" placeholder="Localidad" aria-label="Localidad" matInput
                                [formControl]="localidadesControl" [matAutocomplete]="auto" name="localidad"
                                (blur)="setIdLocalidad(this.localidadesControl)"
                                [(ngModel)]="modelCliente.IdLocalidadNavigation">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLocalidad">
                                <mat-option *ngFor="let l of filteredLocalidades | async" [value]="l">
                                    {{ l.Nombre }} - {{l.Cp}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field fxFlex='25' fxLayout="column">
                            <input matInput placeholder="Teléfonos" [(ngModel)]="modelCliente.Telefonos"
                                name="telefonos" #telefonos="ngModel">
                        </mat-form-field>
                    </div>


                    <div fxLayout="row" fxLayoutGap="2vw">
                        <mat-form-field fxFlex='40' fxLayout="column">
                            <input matInput placeholder="Email" [(ngModel)]="modelCliente.Mail" id="email" name="email"
                                #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                            <mat-error *ngIf="email.errors?.pattern">El formato es inválido.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex='30' fxLayout="column">
                            <mat-select placeholder="Categoría IVA" [(ngModel)]="modelCliente.IdCategoriaIva"
                                name="categoria" #categoria="ngModel" required>
                                <mat-option *ngFor="let ca of categoriasIva" [value]="ca.Id">
                                    {{ ca.Descripcion }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="categoria.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex='30' fxLayout="column">
                            <mat-select placeholder="Condición de venta" [(ngModel)]="modelCliente.IdCondicionVenta"
                                name="condicion" #condicion="ngModel" required>
                                <mat-option *ngFor="let co of condicionesVenta" [value]="co.Id">
                                    {{ co.Descripcion }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="condicion.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap="2vw">
                        <mat-form-field fxFlex='25' fxLayout="column">
                            <input matInput placeholder="Monto crédito" [(ngModel)]="modelCliente.MontoCredito"
                                name="monto" #monto="ngModel" required>
                            <mat-error *ngIf="monto.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex='25' fxLayout="column">
                            <input matInput placeholder="Plazo crédito (días)" [(ngModel)]="modelCliente.PlazoCredito"
                                name="plazo" #plazo="ngModel">
                        </mat-form-field>

                        <mat-form-field fxFlex='25' fxLayout="column">
                            <input matInput placeholder="Porcentaje descuento"
                                [(ngModel)]="modelCliente.PorcentajeDescuentoGeneral" name="porcentaje"
                                #porcentaje="ngModel">
                        </mat-form-field>

                        <mat-checkbox class="radio-group" [(ngModel)]="modelCliente.UtilizaSobre" name="utilizaSobre"
                            #utilizaSobre="ngModel">Utiliza sobre
                        </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2vw">
                        <mat-form-field fxFlex='35' fxLayout="column">
                            <input matInput placeholder="Usuario web" [(ngModel)]="modelCliente.UsuarioWeb"
                                name="userweb" #userweb="ngModel">
                        </mat-form-field>

                        <mat-form-field fxFlex='35' fxLayout="column">
                            <input matInput placeholder="Contraseña web" [(ngModel)]="modelCliente.PasswordWeb"
                                name="passweb" #passweb="ngModel">
                        </mat-form-field>
                    </div>
                    <!-- <mat-form-field fxFlex='25' fxLayout="column">
                        <input matInput placeholder="CUIT" [(ngModel)]="modelCliente.Cuit" name="cuit" #cuit="ngModel"
                            required>
                        <mat-error *ngIf="cuit.hasError('required')">Este campo es obligatorio.</mat-error>
                    </mat-form-field> -->
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between end" fxFlexOffset="8" style="margin-bottom: 2px;">
                    <button mat-raised-button (click)="cancelar()">Cancelar</button>
                    <button mat-raised-button color="primary" [disabled]="!clienteForm.form.valid"
                        (click)="editarCliente()">Guardar</button>
                </div>
            </mat-tab>
            <mat-tab label="Ficha"> 
                <app-ficha></app-ficha>
            </mat-tab>
            <mat-tab label="Precios Cristales">
                <app-precio-lente-cliente-listado></app-precio-lente-cliente-listado>
            </mat-tab>
            <mat-tab label="Precios Artículos">
                <app-precio-articulo-cliente-listado></app-precio-articulo-cliente-listado>
            </mat-tab>
            <mat-tab label="Precios Servicios">
                <app-precio-servicio-cliente-listado></app-precio-servicio-cliente-listado>
            </mat-tab>
        </mat-tab-group>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between end" fxFlexOffset="8">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!clienteForm.form.valid"
                (click)="altaCliente()">Agregar</button>
        </div> -->
    </form>
</div>