<div fxLayout="column">
    <div mat-dialog-title fxLayout="row">
        <p class="dialog-title">Ficha</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
      <div fxLayout="row" fxLayoutAlign="start center" class="menu-agregar" fxFill>
        <mat-accordion class="example-headers-align" fxFill>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: medium;">
                <mat-icon svgIcon="add" color="primary"></mat-icon>
                Agregar
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="20">
                <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="data.Fecha" name="fecha"
                  #fecha="ngModel" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="80" style="width: 201px;">
                <textarea matInput placeholder="Descripción" rows="1" cols="54" [(ngModel)]="data.Descripcion"
                  name="descripcion" #descripcion="ngModel" required>
                </textarea>
                <mat-error *ngIf="descripcion.hasError('required')">Campo obligatorio.</mat-error>
              </mat-form-field>
            </div>
            <mat-action-row>
                <button mat-button color="primary" [mat-dialog-close]="data">Guardar</button>
              </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      
    </div>
  
    <mat-divider></mat-divider>
    <table mat-table fxFill [dataSource]="data.ficha" matSort fxFlexOffset="3" class="tabla">
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> FECHA </th>
        <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Fecha | date:"dd/MM/yyyy"}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> DESCRIPCIÓN </th>
        <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Descripcion}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
        <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
    </div>
  </div>