<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon>
            <p class="dialog-title">Agregar categoria IVA</p>
        </div>

        <div mat-dialog-content fxLayout="row"  fxLayoutGap="15px">
            <mat-form-field fxFlex="50">
                <input matInput [matDatepicker]="picker" [(ngModel)]="data.modelCheque.FechaAlta" placeholder="Fecha" name="fecha" #fecha="ngModel"
                  readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="data.modelCheque.Fecha" placeholder="Fecha de cheque" name="fechache" #fechache="ngModel"
                  readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row"  fxLayoutGap="15px">
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Número cheque" [(ngModel)]="data.modelCheque.Numero" name="numero"
                    #numero="ngModel" pattern="[0-9]*.?[0-9]?" required>
            </mat-form-field>
            <mat-error *ngIf="numero.errors?.pattern">El formato del número es inválido.</mat-error>
            <mat-form-field fxFlex="50">
                <mat-select placeholder="Banco" [(ngModel)]="data.modelCheque.IdBanco" name="banco"
                    #banco="ngModel" required>
                    <mat-option *ngFor="let b of bancos" [value]="b.Id">
                        {{ b.Id }} - {{ b.Nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="banco.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>
        
        <div mat-dialog-content fxLayout="row" fxLayoutGap="15px">
            <mat-form-field fxFlex="80">
                <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl" [(ngModel)]="data.modelCheque.IdClienteNavigation"
                    [matAutocomplete]="auto"  required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                    <mat-option *ngFor="let c of filteredClientes | async" [value]="c">
                        {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="clientesControl.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <input matInput placeholder="Importe" [(ngModel)]="data.modelCheque.Importe" name="importe"
                    #importe="ngModel" pattern="[0-9]*.[0-9]" required>
            </mat-form-field>
            <mat-error *ngIf="importe.errors?.pattern">El formato del número es inválido.</mat-error>
        </div>


        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" [mat-dialog-close]="data">Agregar</button>
        </div>
    </div>

</form>