<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Clientes</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
      <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarCliente()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <p>Agregar</p>
    </div>

    <a mat-button *ngIf="traerActivos" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar todos</a>
    <a mat-button *ngIf="!traerActivos" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar
      activos</a>
  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="1">
    <h6 class="texto-explicativo">Destilde las columnas que precise ocultar y/o arrastre en el orden que desee visualizarlas. </h6>
  </div>
  <form [formGroup]="form">
    <div fxLayoutGap="10px" fxLayout="row" cdkDropList cdkDropListOrientation="horizontal" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let cd of displayedColumns">
        <mat-checkbox *ngIf="cd.def != 'Opciones'" [formControlName]="cd.def" cdkDrag>{{cd.def}}</mat-checkbox>
      </div>
    </div>
  </form>

  <mat-table fxFill [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Codigo">
      <mat-header-cell *matHeaderCellDef fxFlex="5">  CODIGO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="start center"> {{row.Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Responsable">
      <mat-header-cell *matHeaderCellDef fxFlex> RESPONSABLE </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Responsable}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Optica">
      <mat-header-cell *matHeaderCellDef fxFlex> OPTICA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Optica}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Domicilio">
      <mat-header-cell *matHeaderCellDef fxFlex> DOMICILIO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Direccion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Telefonos">
      <mat-header-cell *matHeaderCellDef fxFlex> TELEFONOS </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center"> {{row.Telefonos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Mail">
      <mat-header-cell *matHeaderCellDef fxFlex> MAIL </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign="start center" fxFlex> {{row.Mail}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UtilizaIibb">
      <mat-header-cell *matHeaderCellDef fxFlex="8"> UTILIZA IIBB</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="8" fxLayoutAlign="start center">
        {{row.UtilizaIibb == true ? 'Si' : 'No'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Borrado">
      <mat-header-cell *matHeaderCellDef fxFlex="5"> BORRADO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="start center"> {{row.Borrado == true ? 'Si' : 'No'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Bloqueado">
      <mat-header-cell *matHeaderCellDef fxFlex="5"> BLOQUEADO </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="start center"> {{row.Bloqueado == true ? 'Si' : 'No'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <mat-header-cell *matHeaderCellDef fxFlex="5"></mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="5">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Ver opciones">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu-clientes">
          <button mat-icon-button matTooltip="Ver detalle" [matTooltipPosition]="'above'" aria-label="Ver detalle"
            (click)="detalleCliente(row.Id)">
            <mat-icon svgIcon="detail_outline" class="tabla_icono"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
            (click)="modificarCliente(row.Id)">
            <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Bloquear" *ngIf="!row.Bloqueado" [matTooltipPosition]="'above'"
            aria-label="Bloquear" (click)="bloquearCliente(row.Id, row.Optica, row.Bloqueado)">
            <mat-icon svgIcon="block" class="tabla_icono"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Desbloquear" *ngIf="row.Bloqueado" [matTooltipPosition]="'above'"
            aria-label="Desbloquear" (click)="bloquearCliente(row.Id, row.Optica, row.Bloqueado)">
            <mat-icon svgIcon="settings_backup_restore" class="tabla_icono"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Borrar" *ngIf="!row.Borrado" [matTooltipPosition]="'above'" aria-label="Borrar"
            (click)="eliminarCliente(row.Id, row.Optica, row.Borrado)">
            <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Recuperar" *ngIf="row.Borrado" [matTooltipPosition]="'above'"
            aria-label="Recuperar" (click)="eliminarCliente(row.Id, row.Optica, row.Borrado)">
            <mat-icon svgIcon="restore_from_trash" class="tabla_icono"></mat-icon>
          </button>
        </mat-menu>
        </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns()" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns();" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  <div fxLayoutAlign="start space-between">
    <button mat-raised-button (click)="exportar()">Exportar</button>
  </div>
</div>