<div class="content">
  <app-loading-spinner></app-loading-spinner>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Clientes</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="6px" class="menu-agregar">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
      <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarCliente()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <p>Agregar</p>
    </div>

    <a mat-button *ngIf="traerActivos" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar todos</a>
    <a mat-button *ngIf="!traerActivos" class="footer-list" routerLink="." (click)="cambiarListado()">Mostrar
      activos</a>
  </div>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="1">
    <h6 class="texto-explicativo">Destilde las columnas que precise ocultar y/o arrastre en el orden que desee visualizarlas. </h6>
  </div>
  <form [formGroup]="form">
    <div fxLayoutGap="10px" fxLayout="row" cdkDropList cdkDropListOrientation="horizontal" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let cd of displayedColumns">
        <mat-checkbox *ngIf="cd.def != 'Opciones'" [formControlName]="cd.def" cdkDrag>{{cd.def}}</mat-checkbox>
      </div>
    </div>
  </form>

  <table mat-table fxFill [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Codigo">
      <th mat-header-cell *matHeaderCellDef> CODIGO </th>
      <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> RESPONSABLE </th>
      <td mat-cell *matCellDef="let row"> {{row.Responsable}} </td>
    </ng-container>

    <ng-container matColumnDef="Optica">
      <th mat-header-cell *matHeaderCellDef> OPTICA </th>
      <td mat-cell *matCellDef="let row"> {{row.Optica}} </td>
    </ng-container>

    <ng-container matColumnDef="Domicilio">
      <th mat-header-cell *matHeaderCellDef> DOMICILIO </th>
      <td mat-cell *matCellDef="let row"> {{row.Direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="Telefonos">
      <th mat-header-cell *matHeaderCellDef> TELEFONOS </th>
      <td mat-cell *matCellDef="let row"> {{row.Telefonos}} </td>
    </ng-container>

    <ng-container matColumnDef="Mail">
      <th mat-header-cell *matHeaderCellDef> MAIL </th>
      <td mat-cell *matCellDef="let row"> {{row.Mail}} </td>
    </ng-container>

    <ng-container matColumnDef="UtilizaIibb">
      <th mat-header-cell *matHeaderCellDef> UTILIZA IIBB</th>
      <td mat-cell *matCellDef="let row">
        {{row.UtilizaIibb == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="Borrado">
      <th mat-header-cell *matHeaderCellDef> BORRADO </th>
      <td mat-cell *matCellDef="let row"> {{row.Borrado == true ? 'Si' : 'No'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Ver detalle" [matTooltipPosition]="'above'" aria-label="Ver detalle"
          (click)="detalleCliente(row.Id)">
          <mat-icon svgIcon="detail_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
          (click)="modificarCliente(row.Id)">
          <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarCliente(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" fxFill></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>