<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="width: 30px; height: 30px;" svgIcon="add_circle_outline"></mat-icon>
            <p class="dialog-title">Agregar tipo de insumo</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input matInput placeholder="Nombre" [(ngModel)]="data.modelTipoInsumo.Nombre" name="nombre"
                    #nombre="ngModel" (keyup.enter)="onEnter();" required>
                <mat-error *ngIf="nombre.hasError('required')">Campo obligatorio.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-checkbox class="radio-group" [(ngModel)]="data.modelTipoInsumo.NotificaStockMinimo"
                name="notificaStockMinimo" #notificaStockMinimo="ngModel">Notifica stock
            </mat-checkbox>
        </div>

        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" [mat-dialog-close]="data">Agregar</button>
        </div>
    </div>
</form>