<div class="dialog-content">
  <form name="fichaForm" #fichaForm="ngForm" fxLayout="column" fxFlexFill fxFlexOffset="2">
    <p class="dialog-title">Cargar información:</p>
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <div fxLayout="row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="data.modelFicha.Fecha" name="fecha"
            #fecha="ngModel" readonly required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="fecha.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>
        <!-- <p class="msgError" *ngIf="fecha.hasError('required')">Este campo es obligatorio.</p> -->
      </div>
      
      <!-- <ckeditor [(ngModel)]="data.modelFicha.Descripcion" #editor [editor]="Editor" id="editor" name="editor" (keyup)="lala()" (change)="onChange($event)"></ckeditor> -->
      <ckeditor [(ngModel)]="data.modelFicha.Descripcion" id="editor" [editor]="Editor" name="descripcion" [config]="config" required></ckeditor>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
      <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="false">Cancelar</button>
      <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data.modelFicha">Guardar</button> -->
      <button mat-raised-button color="primary" [mat-dialog-close]="data.modelFicha" [disabled]="fichaForm.invalid" >Guardar</button>
    </div>
  </form>
</div>