<div fxLayout="column">
    <div mat-dialog-content fxLayout="row">
        <mat-form-field fxFill>
            <input type="text" placeholder="Lente" aria-label="Lente" [value]="modelLente[0]?.IdLenteNavigation.Nombre"
                matInput disabled>
        </mat-form-field>
    </div>
    <div mat-dialog-content fxLayoutGap="15px" fxLayout="row">
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Medida esférico" [value]="modelLente[0]?.MedidaEsferico" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Medida esférico" [value]="modelLente[0]?.MedidaCilindrico" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Precio unitario" [value]="modelLente[0]?.Precio" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Cantidad" [value]="modelLente[0]?.Cantidad" disabled>
        </mat-form-field>
    </div>
    <div mat-dialog-content fxLayoutGap="15px" *ngIf="modelLente.length == 2">
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Medida esférico" [value]="modelLente[1]?.MedidaEsferico" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Medida esférico" [value]="modelLente[1]?.MedidaCilindrico" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Precio unitario" [value]="modelLente[1]?.Precio" disabled>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Cantidad" [value]="modelLente[1]?.Cantidad" disabled>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexOffset="4" fxLayoutGap="2vw" fxFill>
        <div fxLayout="column" *ngIf="modelServicio.length > 0">
            <p>Servicios</p>
            <div fxLayout="row" fxLayoutGap="2vw" fxFlex='60' fxFlexOffset="5" fxLayoutAlign="space-evenly center"
                *ngFor="let s of modelServicio; let in = index">
                <mat-form-field>
                    <input type="text" placeholder="Servicio" matInput
                        [(ngModel)]="s.IdServicioNavigation.DescripcionFactura" id="servicio{{in}}" name="servicio{{in}}" disabled>
                </mat-form-field>

                <mat-form-field>
                    <input type="text" placeholder="Precio" matInput [(ngModel)]="s.IdServicioNavigation['PrecioServicio'][0].Precio"
                        id="precio{{in}}" name="precio{{in}}" disabled>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="column" *ngIf="modelRecargo.length > 0">
            <p>Tratamientos</p>
            <div fxLayout="row" fxLayoutGap="2vw" fxFlex='50' fxFlexOffset="5" fxLayoutAlign="space-evenly center"
                *ngFor="let r of modelRecargo; let i = index">
                <mat-form-field>
                    <input type="text" placeholder="Tratamiento" matInput
                        [(ngModel)]="r.IdRecargoNavigation.Descripcion" id="recargo{{i}}" name="recargo{{i}}" disabled>
                </mat-form-field>

                <mat-form-field>
                    <input type="text" placeholder="Porcentaje" matInput [(ngModel)]="r.IdRecargoNavigation.Porcentaje"
                        id="porcentaje{{i}}" name="porcentaje{{i}}" disabled>
                </mat-form-field>
            </div>
        </div>

    </div>
</div>