<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
            <mat-icon color="primary" style="font-size:30px" svgIcon="selection"></mat-icon>
            <p class="dialog-title">Alta de sobre</p>
        </div>

        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="clientesControl"
                    [matAutocomplete]="auto" (blur)="setIdCliente(this.clientesControl)" 
                    (keyup.enter)="setIdCliente(this.clientesControl)" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                    <mat-option *ngFor="let c of filteredClientes | async" [value]="c">
                        {{ c.Id }} - {{c.Optica}} - {{c.Responsable}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="clientesControl.hasError('required')">Este campo es obligatorio.</mat-error>
            </mat-form-field>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center">
            <p>Datos</p>
            <button mat-icon-button color="accent" matTooltip="Agregar sobre" (click)="agregarSobre()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div fxFill fxLayout="row">
            <div fxFill>
                <div fxLayoutGap="1vw" (change)="sobreSelected()" *ngFor="let s of sobres; let index = index">
                    <mat-form-field fxFlex="18">
                        <input matInput placeholder="Número" [(ngModel)]="s.Numero" id="numero{{index}}" name="numero{{index}}" #numero="ngModel" required>
                        <mat-error *ngIf="numero.invalid">Este campo es obligatorio</mat-error>
    
                        <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="eliminarUltimoPrecio()" [disabled]="data.modelServicio.PrecioServicio.length < 1"
                            color="accent">
                            <mat-icon>close</mat-icon>
                        </button> -->
                    </mat-form-field>
                    <mat-form-field fxFlex="18">
                        <input matInput placeholder="Entregas" [(ngModel)]="s.Entregas" id="entregas{{index}}" name="entregas{{index}}" #entregas="ngModel" required>
                        <mat-error *ngIf="entregas.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput placeholder="Observaciones" [(ngModel)]="s.Observaciones" id="observaciones{{index}}" name="observaciones{{index}}" #observaciones="ngModel">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
            <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!modalForm.form.valid" [mat-dialog-close]="sobres">Agregar</button>
        </div>
    </div>
</form>