mat-paginator{
  background: transparent;
  font-size: 11px;
}

/* /////////////////// */

.buscador{
  font-size: 14px;
}

.panel-credito-debito {
  background-color:darksalmon;
}

.menu-agregar{
  padding: 8px 0;
}

.buttonFixed{
  transform: scale(0.7);
}

.texto-explicativo {
  font-family: "Chalet London" !important;
  font-size: small;
  color: firebrick;
}

.texto-remitos {
  font-family: "Chalet London" !important;
  font-size: small;
  color: midnightblue;
}

.radio-group {
  padding-top: 20px;
  /* padding-bottom: 10px; */
}

/* /////////////////// */
mat-table{
  width: 100%;
  width: 100%;
  padding: 0px !important;
  background-color: transparent;
}

mat-header-cell:first-of-type{
  padding-left: 0px;
}

mat-header-cell:last-of-type{
  padding-right: 0px;
}

mat-cell:first-of-type{
  padding: 12px;
  padding-left: 0px;
}

mat-cell:last-of-type{
  padding-right: 0px;
}

mat-footer-cell {
padding: 10px;
}

mat-checkbox {
  padding-bottom: 3px;
}

tr.example-detail-row {
  height: auto;
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.conColor {
  background: darksalmon;
  margin-top: 0px;
  padding-bottom: 0px;
}