<form #modalForm="ngForm">
    <div class="dialog-content">
        <div mat-dialog-content fxLayout="row">
            <mat-form-field fxFill>
                <input type="text" placeholder="Lente" aria-label="Lente" matInput [formControl]="lentesControl"
                    [matAutocomplete]="auto" name="lente" id="lente" (blur)="setIdLente(lentesControl);"
                    (keyup.enter)="tabInventado($event, 'esferico0')" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLente">
                    <mat-option *ngFor="let l of filteredLentes | async" [value]="l">
                        {{ l.Id }} - {{l.Nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- ///////////////////////  PRIMERA GRADUACION  ////////////////////////////// -->
        <div mat-dialog-content fxLayout="row" fxLayoutGap="12px">
            <div mat-dialog-content fxLayoutGap="15px" fxLayout="row">
                <div fxLayout="column">
                    <mat-form-field>
                        <input type="text" placeholder="Medida esférico" matInput autocomplete="off"
                            [(ngModel)]="modelComprobanteItemLente[0].MedidaEsferico" id="esferico0" name="esferico0"
                            #esferico0="ngModel" required (keypress)="_keyPress($event)"
                            (keyup.enter)="tabInventado($event, 'cilindrico0')"
                            (blur)="compararLimiteGrilla($event.target.value, 0, 'esferico'); validacionLenteService.divisionMedida(modelComprobanteItemLente[0], modelComprobanteItemLente[0].MedidaEsferico, 'esferico')"
                             [disabled]="deshabilitar">
                        <mat-error *ngIf="esferico0.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <p class="msjError" *ngIf="msjLimiteEsferico[0]">
                        La medida no se encuentra dentro de los límites.</p>
                </div>

                <div fxLayout="column">
                    <mat-form-field>
                        <input type="text" placeholder="Medida cilindríco" matInput autocomplete="off" required [disabled]="deshabilitar"
                            [(ngModel)]="modelComprobanteItemLente[0].MedidaCilindrico" id="cilindrico0" #cilindrico0="ngModel"
                            (keyup.enter)="tabInventado($event, 'cantidad0')" name="cilindrico0"                              
                            (blur)="cambiarSigno(0); compararLimiteGrilla($event.target.value, 0, 'cilindrico'); traerPrecio(0)"
                            (keypress)="_keyPress($event)" >
                        <mat-error *ngIf="cilindrico0.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <p class="msjError" *ngIf="msjLimiteCilindrico[0]">
                        La medida no se encuentra dentro de los límites.</p>
                </div>
            </div>
            <!-- ///////////////////////  FIN PRIMERA GRADUACION  ////////////////////////////// -->


            <!-- ///////////////////////  SEGUNDA GRADUACION  ////////////////////////////// -->
            <div mat-dialog-content fxLayoutGap="15px" *ngIf="modelComprobanteItemLente.length == 2" fxLayout="row">
                <div fxLayout="column">
                    <mat-form-field>
                        <input type="text" placeholder="Medida esférico" matInput autocomplete="off"
                            [(ngModel)]="modelComprobanteItemLente[1].MedidaEsferico" id="esferico1" name="esferico1"
                            #esferico1="ngModel" required (keypress)="_keyPress($event)"
                            (keyup.enter)="tabInventado($event, 'cilindrico1')"
                            (blur)="compararLimiteGrilla($event.target.value, 1, 'esferico'); validacionLenteService.divisionMedida(modelComprobanteItemLente[1], modelComprobanteItemLente[1].MedidaEsferico, 'esferico')"                            >
                        <mat-error *ngIf="esferico1.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <p class="msjError" *ngIf="msjLimiteEsferico[1]">
                        La medida no se encuentra dentro de los límites.</p>
                </div>

                <div fxLayout="column">
                    <mat-form-field>
                        <input type="text" placeholder="Medida cilíndrico" matInput autocomplete="off"
                            [(ngModel)]="modelComprobanteItemLente[1].MedidaCilindrico" id="cilindrico1"
                             (keyup.enter)="tabInventado($event, 'cantidad1')" name="cilindrico1"
                            #cilindrico1="ngModel" (keypress)="_keyPress($event)" required
                            (blur)="cambiarSigno(1); compararLimiteGrilla($event.target.value, 1, 'cilindrico'); traerPrecio(1)">
                        <mat-error *ngIf="cilindrico1.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <!-- <p class="msjError"
                        *ngIf="validacionLenteService.compararGraduacion(modelComprobanteItemLente[1], modelComprobanteItemLente[0].IdLenteNavigation)">
                        La medida no respeta el signo de la lente.</p> -->
                    <p class="msjError" *ngIf="msjLimiteCilindrico[1]">
                        La medida no se encuentra dentro de los límites.</p>
                </div>
                <!-- <mat-form-field fxFlex="45"> -->
                <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="eliminarUltimaGraduacion(1)" [disabled]="modelComprobanteItemLente.length < 1"
                    color="accent">
                    <mat-icon>close</mat-icon>
                </button>
                <!-- </mat-form-field> -->
            </div>
            <!-- /////////////////////// FIN SEGUNDA GRADUACION  ////////////////////////////// -->

        </div>
        <div mat-dialog-content fxLayout="row" fxLayoutGap="10px" style="height: 101px;">
            <!-- ///////////////////////  PRECIO PRIMERA GRADUACION  ////////////////////////////// -->
            <div mat-dialog-content fxLayoutGap="10px" fxFlex="55" style="height: 101px; overflow: hidden !important;">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Precio unitario" id="precio" id="precio0" name="precio0" #precio0 disabled
                        [(ngModel)]="modelComprobanteItemLente[0].Precio">
                </mat-form-field>
                <div fxLayout="column" fxFlex="30" *ngIf="modelComprobanteItemLente[0].IdLenteNavigation != undefined && modelComprobanteItemLente[0].IdLenteNavigation.Fraccionado; else cantidadNoFraccionado">
                    <!-- (blur)="validacionLenteService.divisionCantidad(modelComprobanteItemLente[0].Cantidad)" -->
                    <mat-form-field>
                        <input matInput placeholder="Cantidad" id="cantidad0" [disabled]="modelComprobanteItemLente.length == 2"
                            (keyup.enter)="tabInventado($event, 'sobre')" #cantidad0="ngModel"
                            (keypress)="_keyPressCantidad($event)" pattern="[0-9]*.?[5]?"
                            [(ngModel)]="modelComprobanteItemLente[0].Cantidad" name="cantidad0" required>
                        <mat-error *ngIf="cantidad0.hasError('required')">Este campo es obligatorio.</mat-error>
                        <!-- <mat-error *ngIf="cantidad0.errors?.pattern">La cantidad no es múltiplo de 0.5.</mat-error> -->
                    </mat-form-field>
                    <p class="msjError" *ngIf="cantidad0.errors?.pattern && modelComprobanteItemLente[0].IdLenteNavigation.Fraccionado">La cantidad no es múltiplo de 0.5.</p>

                    <!-- <p class="msjError"
                        *ngIf="validacionLenteService.divisionCantidad(modelComprobanteItemLente[0].Cantidad)">
                        La cantidad no es múltiplo de 0.5.</p> -->
                </div>
                <ng-template #cantidadNoFraccionado>
                    <div fxLayout="column" fxFlex="30">
                        <mat-form-field>
                            <input matInput placeholder="Cantidad" id="cantidad0"
                                (keyup.enter)="tabInventado($event, 'sobre')" #cantidad0="ngModel"
                                (keypress)="_keyPressCantidad($event)" pattern="[0-9]*"
                                [(ngModel)]="modelComprobanteItemLente[0].Cantidad" name="cantidad0" required>
                            <mat-error *ngIf="cantidad0.hasError('required')">Este campo es obligatorio.</mat-error>
                        </mat-form-field>
                        <p class="msjError" *ngIf="cantidad0.errors?.pattern && !modelComprobanteItemLente[0].IdLenteNavigation.Fraccionado">La cantidad debe ser entero.</p>
                    </div>
                </ng-template>

                <div *ngIf="modelComprobanteItemLente[0].IdLenteNavigation != undefined && modelComprobanteItemLente[0].IdLenteNavigation.Fraccionado; else sobreNoFraccionado">
                    <mat-form-field fxFlex="25" *ngIf="data.utilizaSobre">
                        <input matInput placeholder="Sobre" id="sobre" (keypress)="_keyPress($event)"
                            (keyup.enter)="tabInventado($event, 'remove')" #sobre="ngModel"
                            [(ngModel)]="modelComprobanteItemLente[0].Sobre" name="sobre" required>
                        <mat-error *ngIf="sobre.hasError('required')">Este campo es obligatorio.</mat-error>
                    </mat-form-field>
                </div>

                <ng-template #sobreNoFraccionado>
                    <mat-form-field fxFlex="25" *ngIf="data.utilizaSobre">
                        <input matInput placeholder="Sobre" id="sobre" (keypress)="_keyPress($event)"
                            (keyup.enter)="tabInventado($event, 'calibrado')" #sobre="ngModel"
                            [(ngModel)]="modelComprobanteItemLente[0].Sobre" name="sobre" required>
                        <mat-error *ngIf="sobre.hasError('required')">Este campo es obligatorio.</mat-error>
                    </mat-form-field>
                </ng-template>
            </div>
            <!-- ///////////////////////  FIN PRECIO PRIMERA GRADUACION  ////////////////////////////// -->


            <!-- ///////////////////////  PRECIO SEGUNDA GRADUACION  ////////////////////////////// -->
            <div mat-dialog-content *ngIf="modelComprobanteItemLente.length == 2" fxFlex="45"
                style="height: 101px;  overflow: hidden !important;">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Precio unitario" [(ngModel)]="modelComprobanteItemLente[1].Precio"
                        id="precio1" name="precio1" #precio1 disabled>
                </mat-form-field>
                <div fxLayout="column">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Cantidad" id="cantidad1" [disabled]="modelComprobanteItemLente.length == 2"
                            (keyup.enter)="comprobanteItemLenteSelected(); tabInventado($event, 'calibrado')"
                            #cantidad1="ngModel" (keypress)="_keyPressCantidad($event)" pattern="[0-9]*.?[5]?"
                            [(ngModel)]="modelComprobanteItemLente[1].Cantidad" name="cantidad1" required>
                        <mat-error *ngIf="cantidad1.hasError('required')">Este campo es obligatorio.</mat-error>
                        <mat-error *ngIf="cantidad1.errors?.pattern">La cantidad no es múltiplo de 0.5.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- /////////////////////// FIN PRECIO SEGUNDA GRADUACION  ////////////////////////////// -->
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="modelComprobanteItemLente.length < 2 && (modelComprobanteItemLente[0].IdLenteNavigation != undefined && modelComprobanteItemLente[0].IdLenteNavigation.Fraccionado)"
            class="agregar-graduacion">
            <p style="font-size: small;">Agregar otra graduación</p>
            <mat-button-toggle-group fxFlexOffset="2">
                <mat-button-toggle id="done" (keyup)="flechita($event, 'remove')"
                    (keyup.enter)="agregarGraduacion(); tabInventado($event, 'esferico1')">
                    <mat-icon>done</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle id="remove" (keyup)="flechita($event, 'done')"
                    (keyup.enter)="comprobanteItemLenteSelected(); tabInventado($event, 'calibrado')">
                    <mat-icon>remove</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div mat-dialog-content fxLayout="row" fxLayoutGap="15px">
            <mat-form-field fxFill>
                <input type="text" placeholder="Calibrados" aria-label="calibrados" matInput
                    [formControl]="serviciosControl" [matAutocomplete]="autoCal" name="calibrado" id="calibrado"
                    (blur)="serviciosSeleccionados(serviciosControl)" (keyup.enter)="comprobanteItemLenteSelected()">
                <mat-autocomplete #autoCal="matAutocomplete" [displayWith]="displayServicio">
                    <mat-option *ngFor="let s of filteredServicios | async" [value]="s">
                        {{ s.Id }} - {{s.Nombre}} - Precio {{s.PrecioServicio[0]?.Precio}}
                    </mat-option>
                </mat-autocomplete>

                <!-- <mat-select [formControl]="serviciosControl" placeholder="Calibrados" #ser 
                    (keydown.enter)="$event.stopImmediatePropagation()" id="calibrado" (keyup.enter)="comprobanteItemLenteSelected()">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-select-trigger>
                        {{(!ser.empty) ? ser.value[0].Id : ''}} - {{(!ser.empty)  ? ser.value[0].Nombre : ''}}  - Precio  {{(!ser.empty)  ?  ser.value[0].PrecioServicio[0].Precio : ''}}
                        <span *ngIf="ser.value?.length > 1" class="example-additional-selection">
                            (+{{ser.value.length - 1}} {{ser.value?.length === 2 ? 'servicio' : 'más'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let s of filteredServicios | async" [value]="s" (keydown.enter)="$event.stopImmediatePropagation()"
                        (onSelectionChange)="serviciosSeleccionados($event)">
                        {{s.Id}} - {{s.Nombre}} - Precio  {{s.PrecioServicio[0].Precio}}
                    </mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
    </div>
</form>