<div class="content">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Movimientos de Block</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarMovimientoBlock()">
      <mat-icon>add</mat-icon>
    </button>
    <p>Agregar</p>
  </div>
  <mat-divider></mat-divider>

  <table mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="TipoMovimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40"> TIPO MOVIMIENTO </th>
      <td mat-cell *matCellDef="let row" fxFlex="80" fxLayoutAlign="start center"> {{row.TipoMovimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> FECHA </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> CANTIDAD </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Base">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5"> BASE </th>
      <td mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="start center"> {{row.Base}} </td>
    </ng-container>

    <ng-container matColumnDef="Adicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5"> ADICION </th>
      <td mat-cell *matCellDef="let row" fxFlex="5" fxLayoutAlign="start center"> {{row.Adicion}} </td>
    </ng-container>

    <ng-container matColumnDef="Ubicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> UBICACION </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.IdUbicacionNavigation.Descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> USUARIO </th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.IdUsuarioNavigation.UserName}} </td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef fxFlex="10"></th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="end">
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
          (click)="modificarMovimientoBlock(row)">
          <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarMovimientoBlock(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>