<div class="content">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <h4 fxLayout="column" class="titulo" fxFlex>Proveedores</h4>
    <mat-form-field fxLayout="column" fxFlex="40" class="buscador">
      <input matInput (keyup)="applyFilter($event.target.value)" #search placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-divider fxFlexOffset="2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px" class="menu-agregar">
    <button mat-mini-fab class="buttonFixed" color="primary" (click)="agregarProveedor()">
      <mat-icon>add</mat-icon>
    </button>
    <p>Agregar</p>
  </div>
  <mat-divider></mat-divider>

  <table mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> NOMBRE </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="Domicilio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> DOMICILIO </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Domicilio}} </td>
    </ng-container>

    <ng-container matColumnDef="Telefonos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> TELEFONOS </th>
      <td mat-cell *matCellDef="let row" fxFlex="20" fxLayoutAlign="start center"> {{row.Telefonos}} </td>
    </ng-container>

    <ng-container matColumnDef="Mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="29"> MAIL </th>
      <td mat-cell *matCellDef="let row" fxFlex="29" fxLayoutAlign="start center"> {{row.Mail}} </td>
    </ng-container>

    <ng-container matColumnDef="UtilizaIibb">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="8"> UTILIZA IIBB</th>
      <td mat-cell *matCellDef="let row" fxFlex="8" fxLayoutAlign="start center"> {{row.UtilizaIibb == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="Borrado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="3"> BORRADO </th>
      <td mat-cell *matCellDef="let row" fxFlex="3" fxLayoutAlign="start center"> {{row.Borrado == true ? 'Si' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef fxFlex="10"></th>
      <td mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="end">
        <button mat-icon-button matTooltip="Editar" [matTooltipPosition]="'above'" aria-label="Editar"
          (click)="modificarProveedor(row)">
          <mat-icon svgIcon="edit_outline" class="tabla_icono"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar" [matTooltipPosition]="'above'" aria-label="Eliminar"
          (click)="eliminarProveedor(row)">
          <mat-icon svgIcon="delete_outline" class="tabla_icono"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>