<form #modalForm="ngForm">
  <div class="dialog-content">
      <div mat-dialog-title fxLayout="row" fxLayoutGap="15px">
          <p class="dialog-title">Restablecer contraseña de {{reset.UserName}}</p>
      </div>

      <div fxLayout="column">
          <mat-form-field>
              <input matInput placeholder="Nueva contraseña" [(ngModel)]="reset.Password" id="password"
                  name="password" #password="ngModel" [type]="hidePassword ? 'password' : 'text'"
                  (input)="onBlurPassVerification($event, password.value, confirmpassword.value)" required>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                  {{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="password.invalid">Este campo es obligatorio</mat-error>
          </mat-form-field>
          <p class="msgError" *ngIf="msgErrorFormato">La contraseña tiene que tener mínimo 6 caracteres.</p>
      </div>

      <div fxLayout="column">
          <mat-form-field>
              <input matInput placeholder="Confirme nueva contraseña" [(ngModel)]="reset.ConfirmPassword"
                  id="confirmpassword" name="confirmpassword" #confirmpassword="ngModel"
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                  (input)="onBlurPassVerification($event, password.value, confirmpassword.value)" required>
              <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility' :
          'visibility_off'}}</mat-icon>
              <mat-error *ngIf="confirmpassword.hasError('required')">Este campo es obligatorio.</mat-error>
          </mat-form-field>
          <p class="msgError" *ngIf="msgErrorPass">Las contraseñas no coinciden.</p>
      </div>


      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="dialog-botones">
          <button mat-raised-button (click)="onNoClick()">Cancelar</button>
          <button mat-raised-button color="primary"
              [disabled]="!modalForm.form.valid || msgErrorPass || msgErrorFormato" [mat-dialog-close]="true"
              (click)="resetPassword()">Guardar</button>
      </div>
  </div>
</form>