<div fxLayoutAlign="center center" style="min-height: 80%;">
  <mat-card fxFlex fxFlex.gt-xs="35">
    <mat-card-title>
      <mat-icon fxFill fxLayoutAlign="center center" color="primary" svgIcon="login" style="margin-bottom: 20px">
      </mat-icon>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center center">
      <form fxFlex="70" fxLayout="column" name="resetForm" #resetForm="ngForm" novalidate>
        <h4 fxLayoutAlign="center center">Restablecer contraseña</h4>
        <mat-form-field>
          <input matInput [(ngModel)]="reset.UserName" #username="ngModel" name="user" placeholder="Usuario" autofocus
            required>
          <mat-error *ngIf="username.invalid">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field fxLayout="column">
          <input matInput placeholder="Nueva contraseña" [(ngModel)]="reset.Password" id="password" name="password"
            #password="ngModel" [type]="hidePassword ? 'password' : 'text'"
            (blur)="onBlurPassVerification($event, password.value, confirmpassword.value)" required>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="password.invalid">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <p class="msgError" *ngIf="msgErrorFormato">La contraseña tiene que tener mínimo 6 caracteres.</p>

        <mat-form-field fxLayout="column">
          <input matInput placeholder="Confirme nueva contraseña" [(ngModel)]="reset.ConfirmPassword"
            id="confirmpassword" name="confirmpassword" #confirmpassword="ngModel"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            (blur)="onBlurPassVerification($event, password.value, confirmpassword.value)" required>
          <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility'
                      : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="confirmpassword.invalid">Este campo es obligatorio.</mat-error>
        </mat-form-field>
        <p class="msgError" *ngIf="msgErrorPass">Las contraseñas no coinciden.</p>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-button class="login" [disabled]="!resetForm.form.valid || msgErrorPass"
        (click)="resetPassword()">Restablecer</button>
    </mat-card-actions>
  </mat-card>
</div>