<div fxLayout="column">
  <app-loading-spinner></app-loading-spinner>
  <mat-table fxFill [dataSource]="dataSource" matSort fxFlexOffset="3" class="tabla">
    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="start center"> {{row.Fecha | date:"dd/MM/yyyy"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> DESCRIPCIÓN </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center" [innerHTML]="getRowDetail(row)"> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" fxFill sticky></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" fxFill></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>